.button {
  background: $blue-900;
  border: 2px solid $blue-500;
  border-radius: .5rem;
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  padding: .4rem 1rem;
  position: relative;
  transition: .15s ease;

  &.secondary {
    background: $darkblue-800;
  }

  &.tertiary {
    background: $darkblue-800;
    border-color: $red-700;
  }

  &.link {
    align-items: center;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: $font-weight-normal;
    height: auto;
    margin: 0;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      background: none;
    }

    &:disabled {
      background: none;

      &:hover {
        text-decoration: none;
      }
    }

    &.small {
      font-size: 14px;
    }

    @include tablet-down {
      font-size: 14px;
    }
  }

  &:hover {
    @include tablet-up {
      border-color: white;
      color: white;

      &.secondary {
        background: $darkblue-700;
      }

      &.tertiary {
        background: $darkblue-700;
      }

      &.tertiary {
        border-color: $red-700;
      }
    }

    &.link {
      text-decoration: underline;
    }
  }

  &:active {
    @include tablet-up {
      background: $darkblue-900;
      border-color: $blue-400;

      &.secondary {
        background: $darkblue-900;
      }

      &.tertiary {
        background: $darkblue-900;
        border-color: $red-700;
      }
    }
  }

  &:disabled {
    background: $darkblue-700;
    border-color: $darkblue-700;
    color: $mauve-900;
    cursor: default;

    &.secondary {
      background: $darkblue-800;
    }

    &.tertiary {
      border-color: $darkblue-700;
      background: $darkblue-800;
    }
  }

  &.has-icon {
    padding-left: 3rem;
    
    i {
      color: $mauve-500 !important;
      left: 1rem;
      position: absolute;
      top: .4rem;
      vertical-align: middle;
    }

    @include tablet-down  {
      padding-left: 1rem;
      
      i {
        line-height: 0;
        margin-right: 1rem;
        position: static;
      }
    }
  }
}

.button-group {
  .button:first-of-type {
    margin-right: 1rem;
  }

  @include tablet-down {
    width: 100%;
    
    .button {
      display: block;
      width: 100%;

      &:nth-of-type(1) {
        margin: 0 0 1rem 0;
      }

      &:nth-of-type(2) {
        margin: 0;
      }
    }
  }
}