.checkbox {
  background: $darkblue-700;
  border: 2px solid $darkblue-600;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  height: 1.25rem;
  position: relative;
  width: 1.25rem;

  .indicator {
    i {
      display: none;
    }
  }

  input {
    appearance: none;
    cursor: pointer;
    height: 1.25rem;
    left: -2px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: -2px;
    width: 1.25rem;

    &:checked {
      background: red;
    }

    &:checked + .indicator {
      align-items: center;
      background: $darkblue-900;
      border: 2px solid $mauve-500;
      border-radius: .25rem;
      display: flex;
      height: 1.25rem;
      justify-content: center;
      left: -2px;
      pointer-events: none;
      position: absolute;
      top: -2px;
      width: 1.25rem;

      i {
        color: $mauve-500;
        display: block;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }

  &:hover {
    border-color: $mauve-500;
  }

  &:disabled {
    background: $darkblue-700;
    border-color: $darkblue-700;
    cursor: default;
  }

  + label {
    cursor: pointer;
    font-weight: $font-weight-normal;
  }
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    list-style: none;
    margin-bottom: .5rem;
    width: 50%;
  }

  &.inline {
    li {
      margin-right: 1rem;
      width: auto;
    }
  }

  &.stacked {
    flex-direction: column;

    li {
      width: 100%;
    }
  }

  .checkbox {
    + label {
      margin: 0 0 0 .5rem;
    }
  }

  @include tablet-down {
    flex-direction: column;

    li {
      margin-bottom: .5rem;
      width: 100%;
    }

    &.inline {
      margin-right: 0;
      width: 100%;
    }
  }
}