.comments {
  margin: 0;
  padding: 0;

  label {
    display: none;
  }

  .preview {
    i {
      vertical-align: baseline;
    }
  }

  li {
    list-style: none;
    padding: 1rem 0;
    position: relative;

    &.editing {
      padding: 0;

      > .comment {
        display: none;
      }

      + .comment-reply {
        margin-top: 0;
      }
    }

    .collapse {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: calc(100% - 7.5rem);
      margin: 4rem 0 0 0;
      padding: 0 .7rem;
      position: absolute;
      width: 5px;

      span {
        border-right: 1px dashed $darkblue-600;
        flex: 1;
        height: 100%;
      }

      &:hover {
        span {
          border-color: $mauve-500;
        }
      }
    }

    li {
      margin-left: 2.5rem;
    }
    
    .link {
      color: $blue-500;
      text-decoration: underline;
    }
    
    .comment {
      align-items: flex-start;
      display: flex;

      .details {
        p {
          margin: .25rem 0 0 0;

          .avatar {
            display: inline-block;
            margin: 0 .3rem 0 0;
            vertical-align: sub;
          }

          &:first-of-type {
            margin-bottom: .5rem;
          }

          .preview {
            color: $mauve-500;
            font-weight: $font-weight-bold;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          .seperator {
            margin: 0 .5rem;

            &.split {
              @include tablet-down {
                color: transparent;
                display: block;
                height: .5rem;
              }
            }
          }

          .add-reply {
            align-items: center;
            cursor: pointer;
            display: inline-flex;
            vertical-align: bottom;

            i {
              margin-right: .25rem;
            }
          }

          .delete-comment {
            color: $blue-500;
            font-weight: $font-weight-normal;
            text-decoration: underline;
          }

          .collapse-comments {
            span {
              color: $mauve-500;
              font-style: normal;
              text-decoration: none;
            }

            .show {
                display: none;
            }
          }

          @include tablet-down {
            .button {
              font-size: 12px;
            }
          }
        }
      }
    }

    &.collapsed {
      ul {
        display: none;
      }

      .collapse {
        display: none;
      }

      .comment {
        .details {
          p {
            .collapse-comments {
              .hide {
                display: none;
              }

              .show {
                display: inline;
              }
            }
          }
        }
      }
    }
  }

  &.flat {
    .small {
      margin-bottom: .5rem;
    }

    .reply {
      color: $mauve-500;
      margin-left: .5rem;

      a {
        color: $mauve-500;
      }
    }
  }
}

.comment-form {
  .cancel {
    display: none;
  }

  &.reply-form {
    .cancel {
      display: inline-block;
    }
  }
}

#delete-comment-modal {
  @include tablet-down {
    .content {
      height: calc(100% - 8.1rem);
    }

    footer {
      .button {
        margin-bottom: 1rem;

        &.modal-close {
          margin-bottom: 0;
        }
      }
    }
  }
}