.toolbar {
  display: flex;
  margin-bottom: 1rem;

  .select {
    margin: 0 .5rem 0 0;
  }

  button {
    align-items: center;
    background: $darkblue-700;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    height: 2rem;
    justify-content: center;
    margin-right: .5rem;
    width: 2rem;

    i {
      color: $blue-500;
      font-size: 1.5rem;
    }

    &:hover,
    &.ql-active {
      background: $darkblue-600;

      i {
        color: $mauve-500;
      }
    }
  }

  .ql-image[type=file] {
    display: none;
  }

  .popup-container {
    position: relative;
    z-index: 1;

    .popup {
      background: white;
      border-radius: .5rem;
      left: 0;
      padding: .5rem;
      position: absolute;
      top: 2.5rem;

      button {
        background: none;
        color: $darkblue-800;
        font: inherit;
        margin: 0 0 .5rem 0;
        width: 200px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &:hover {
          background: $mauve-500;
          color: $blue-900;
        }
      }
    }
  }

  @include tablet-down {
    flex-wrap: wrap;
    margin-bottom: .5rem;

    button {
      margin-bottom: .5rem;
    }
  }
}

.editor {
  display: flex;
  height: 500px;
  overflow: hidden;
  padding: 0;
  resize: both;
  white-space: pre-wrap;

  * {
    color: $mauve-900 !important;
  }

  a {
    color: $blue-500 !important;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  h1, h2, h3, strong {
    color: $mauve-500 !important;
  }

  &.light {
    height: 160px;
  }

  &.dragging {
    .ql-editor {
        border: 2px dashed $blue-500;
    }
  }

  @include tablet-down {
    height: 260px;
    margin-bottom: 2rem;

    &.light {
      height: 160px;
    }
  }

  .ql-clipboard {
    display: none;
  }

  img {
    max-width: 100%;
  }

  pre {
    background: $darkblue-900;
    font-size: 1rem;
    padding: 1rem;
  }
}

.ql-editor,
.editor:not(.ql-container) {
  background: $darkblue-700;
  border: solid 2px $darkblue-600;
  border-radius: .5rem;
  height: 100%;
  margin-bottom: 1.5rem;
  overflow-y: auto;
  padding: 1rem;
  position: relative;
  width: 100%;

  &:focus {
    background: $darkblue-900;
    border-color: $mauve-500;

    pre {
      background: $darkblue-700;
      margin: 0 0 1rem 0;
    }
  }
}

.editor:not(.ql-container) {
  height: 500px;

  &.light {
    height: 160px;
  }
}

.mention-container {
  background: white;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  left: 0;
  min-width: 300px;
  padding: .5rem;
  position: fixed;
  top: 0;

  .not-found {
    color: $darkblue-900;
    text-align: center;
    width: 100%;
  }

  .button {
    align-items: center;
    background: transparent;
    border: none;
    color: $darkblue-900;
    display: flex;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    justify-content: space-between;
    height: 2rem;
    margin-bottom: .5rem;
    padding: .375rem .5rem;

    span {
      pointer-events: none;

      &:nth-of-type(2) {
        color: $mauve-1000;
        font-size: 14px;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.selected {
      background: $mauve-500;
      color: $blue-900;

      span:nth-of-type(2) {
        color: $blue-900;
      }
    }
  }
}