.footer {
  background: $darkblue-900;

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    padding: 1rem 2rem;

    p {
      margin: 0;

      a {
        color: $mauve-500;

        &:hover {
          color: $blue-500;
        }
      }
    }

    .twitter {
      text-decoration: none;

      i {
        color: $blue-500;
        font-size: 1.25rem;
        vertical-align: middle;
      }
    }

    .seperator {
      background: $mauve-500;
      display: inline-block;
      height: 14px;
      margin: 0 1rem;
      vertical-align: middle;
      width: 1px;
    }

    @include tablet-down {
      flex-direction: column;
      
      .container {
        padding: 1rem;
      }

      p {
        font-size: 14px;
        text-align: center;

        &:nth-of-type(1) {
          border-top: 1px solid $mauve-1000;
          margin-bottom: 1rem;
          order: 2;
          padding-top: 2rem;
          text-align: center;

          .seperator {
            background: none;
            display: block;
          }
        }

        &:nth-of-type(2) {
          display: flex;
          flex-direction: column;
          margin: 1rem 0;
          text-align: center;

          a {
            margin-bottom: 1rem;
          }

          .seperator {
            display: none;
          }
        }
      }
    }
  }
}