.groups-list {
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid $gray-900;
    list-style: none;
    margin-bottom: 0;

    &:hover {
      background: $gray-700;
    }

    a {
      align-items: center;
      display: flex;
      padding: 1.5rem 1rem;
      text-decoration: none;

      @include tablet-down {
        align-items: flex-start;
      }
    }

    .details {
      p:first-of-type {
        margin-bottom: .5rem;

        span {
          color: $blue-500;
          font-size: 14px;
          margin-left: .5rem;

          @include tablet-down {
            font-size: 12px;
          }
        }
      }

      p:last-of-type {
        color: $mauve-900;
        margin-bottom: 0;
      }
    }
  }
}

.group-badge {
  align-items: center;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 3rem;
  justify-content: center;
  margin-right: 1rem;
  width: 3rem;

  i {
    color: white;
    font-size: 1.5rem;
  }

  &.dark {
    i {
      color: $gray-800;
    }
  }
}