.header {
  align-items: center;
  border-bottom: 1px solid $darkblue-900;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1.5rem 0;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1.5rem;
    width: 100%;

    a {
      color: $mauve-500;
      text-decoration: none;

      &:hover {
        color: $blue-500;
      }

      &.back-to-app {
        align-items: center;
        display: inline-flex;

        i {
          margin-right: .5rem;
        }
      }
    }
  }
}
