.message {
  background: $darkblue-600;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  position: relative;

  p {
    color: white;
    margin-bottom: 0;
    padding-right: 1.5rem;
  }

  i {
    color: white !important;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &.success {
    background: $green-500;
  }

  &.failure {
    background: $red-700;
  }

  &.show {
    display: block;
  }
}