.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
  padding: 0;
  
  li {
    border-radius: .5rem;
    height: 2rem;
    list-style: none;
    margin-right: .25rem;
    width: 2rem;

    &.active,
    &:hover {
      background: $gray-600;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }

    .button {
      align-items: center;
      background: none;
      border: none;
      color: $mauve-500;
      display: flex;
      font-weight: $font-weight-normal;
      height: 2rem;
      justify-content: center;
      margin: 0;
      padding: 0;
      text-decoration: none;
      width: 2rem;
    }
  }
}