.post-poll {
  background: $gray-700;
  border-radius: .5rem;
  margin-top: 3rem;
  padding: 1.5rem;

  .poll-title {
    align-items: center;
    display: flex;

    h4 {
      display: flex;
      flex: 1;
    }

    i {
      color: $blue-500;
      font-size: 1.25rem;
      margin-right: .5rem;
    }

    .button {
      color: $blue-500;
      text-decoration: underline;
    }

    @include tablet-down {
      align-items: flex-start;
      flex-direction: column;

      .button {
        margin-top: .5rem;
      }
    }
  }

  .button.disabled {
    background: $gray-800;
    border-color: $gray-800;
    cursor: default;
  }

  .poll-results {
    display: none;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: .5rem;
        position: relative;

        span {
          display: inline-block;
          flex-shrink: 0;
          font-weight: $font-weight-bold;
          margin-right: .5rem;
          width: 2.5rem;
        }

        .background {
          background: $gray-900;
          border-radius: 0 .5rem .5rem 0;
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          z-index: 0;

          &.has-answered {
            background: $blue-900;
          }
        }

        .choice {
          display: flex;
          position: relative;
          z-index: 1;
        }
      }
    }
  }

  .poll-choices {
    @include tablet-down {
      .radio-group {
        li {
          align-items: flex-start;

          .radio {
            flex-shrink: 0;
            margin: 0 .5rem 0 0;
          }
        }
      }
    }
  }

  .button-group {
    .button {
      margin-bottom: 0;
    }
  }

  .total-votes,
  .hide-results {
    display: none;
  }

  &.answered {
    .view-results,
    .poll-choices,
    .button-group {
      display: none;
    }

    .poll-results,
    .total-votes,
    .hide-results {
      display: block;
    }
  }

  &.read-only {
    .view-results,
    .poll-choices,
    .button-group,
    .hide-results {
      display: none;
    }

    .poll-results,
    .total-votes {
      display: block;
    }
  }

  .view-results,
  .hide-results {
    @include tablet-down {
      color: $blue-500;
      margin: 1rem 0 0 0 !important;
      text-decoration: underline;
    }
  }

  .total-votes {
    @include tablet-down {
      text-align: center;

      .hide-results {
        margin: 1rem auto 0 auto !important;
      }
    }
  }
}