.post {
  color: $mauve-900;

  h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1rem;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  p {
    margin-bottom: 1rem !important;
  }

  .divider {
    margin: 1rem 0;
  }

  ul, ol, code {
    margin-bottom: 1rem;

    li {
      color: $mauve-900;
      margin-left: 0;
      padding: 0;
    }
  
    p {
      margin: 0 !important;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }

  blockquote {
    margin-bottom: 1rem;

    p:last-of-type {
        margin-bottom: 0;
    }
  }

  pre {
    background: $darkblue-900;
    border-radius: .5rem;
    color: $mauve-500;
    display: block;
    padding: 1.5rem;
    width: 100%;
    white-space: pre-wrap;
    }

  hr {
    border-color: $mauve-1000;
    margin: 1.5rem 0;
  }

  table {
    border: 1px solid $darkblue-900;
    margin-bottom: 1rem;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;

    th {
      border-color: $darkblue-900;
      border-style: solid;
      border-width: 0 1px 1px 0;
      padding: .75rem;

      &:last-of-type {
        border-right-width: 0;
      }
    }

    td {
      border-color: $darkblue-900;
      border-style: solid;
      border-width: 0 1px 1px 0;
      padding: .75rem;

      &:last-of-type {
        border-right-width: 0;
      }
    }

    tr:last-of-type {
      td {
        border-bottom-width: 0;
      }
    }
  }

  img {
    max-width: 100%;
  }
}