.position {
  span {
    align-items: center;
    background: $darkblue-900;
    border-radius: .25rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin-right: 1.5rem;
    width: 2rem;
  }
}