.position {
  span {
    align-items: center;
    background: $gray-900;
    border-radius: .25rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin-right: 1.5rem;
    width: 2rem;
  }

  &.gold {
    span {
      border: 2px solid #F5E33E;
    }
  }

  &.silver {
    span {
      border: 2px solid #C3F5F6;
    }
  }

  &.bronze {
    span {
      border: 2px solid #F5963E;
    }
  }

  &.default {
    span {
      border: 2px solid #344F88;
    }
  }
}