.preview {
  position: relative;

  i {
    color: $blue-500;
    font-size: 12px;
    vertical-align: bottom;
  }
}

.preview-card {
  background: $darkblue-700;
  border: 2px solid $blue-500;
  border-radius: .5rem;
  padding: 2rem 1.5rem;
  position: fixed;
  width: 300px;

  .avatar {
    height: 3rem;
    width: 3rem;

    img {
      height: 3rem;
    }
  }

  .card-header {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;

    a {
      color: $mauve-500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .admin {
    align-items: center;
    background: $blue-900;
    border-radius: .25rem;
    color: $mauve-500;
    display: flex;
    padding: .25rem .5rem;
    white-space: nowrap;
    width: 164px;

    i {
      color: $mauve-500;
      margin-right: .25rem;
    }
  }

  .display-options {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid $darkblue-900;
      display: flex;
      list-style: none;
      justify-content: space-between;
      margin-bottom: .5rem;
      padding-bottom: .5rem;

      p {
        margin: 0;

        &:first-of-type {
          flex-shrink: 0;
          margin-right: 1rem;
        }

        &:last-of-type {
          text-align: right;
        }
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  @include tablet-down {
    display: none !important;
  }
}