.sidebar {
  align-self: flex-start;
  background: $gray-900;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  position: sticky;
  top: 2rem;
  width: 252px;
  z-index: 1;

  @include tablet-down {
    position: static;
    top: auto;
    width: 100%;
  }

  .logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 .75rem;

    img {
      display: block;
      height: 2rem;
    }

    i {
      font-size: 1.5rem;
    }

    .actions {
      align-items: center;
      display: flex;
    }

    .hamburger {
      color: $mauve-900;
      display: none;

      @include tablet-down  {
        display: block;
      }
    }

    .notification-bell {
      align-items: center;
      border-radius: .5rem;
      color: $mauve-500;
      display: flex;
      height: 2.5rem;
      justify-content: center;
      position: relative;
      text-decoration: none;
      width: 2.5rem;

      &:hover,
      &.active {
        background: $gray-600;
      }

      &.unread:after {
        align-items: center;
        background: $red-700;
        border-radius: 50%;
        content: attr(data-count);
        display: flex;
        height: 1.5rem;
        font-size: 14px;
        justify-content: center;
        position: absolute;
        top: -.3rem;
        right: -.3rem;
        width: 1.5rem;
      }

      @include tablet-down  {
        margin-right: 1rem;
      }
    }
  }

  .routes {
    flex-direction: column;
    margin-top: 1rem;

    a {
      align-items: center;
      border-radius: .5rem;
      color: $mauve-900;
      cursor: pointer;
      display: flex;
      margin-bottom: .25rem;
      padding: .85rem 1rem;
      text-decoration: none;

      &:hover,
      &.active {
        background: $gray-600;
        color: $mauve-500;
      }

      i {
        margin-right: .875rem;
      }
    }

    @include tablet-down  {
      display: none;
    }
  }

  .divider {
    background: $gray-700;
    margin: .75rem 0;
  }

  .user-actions {
    display: flex;
    flex-direction: column;

    .button {
      margin: 1rem .5rem 0 .5rem;
    }

    .user, .project, .challenges {
      align-items: center;
      border-radius: .5rem;
      display: flex;
      margin-bottom: 0.25rem;
      padding: .85rem 1rem;
      text-decoration: none;

      p {
        color: $mauve-900;
        margin: 0;
      }

      .avatar {
        height: 1.5rem;
        width: 1.5rem;

        img {
          height: 1.5rem;
        }
      }

      .icon {
        color: #FFD983;
        font-size: 1.5rem;
        margin-right: 0.875rem;
      }

      .split {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 2.5rem);

        span:nth-of-type(2) {
          color: $blue-500;
          font-size: 14px;
          margin-left: .5rem;
        }
      }

      &:hover,
      &.active {
        background: $gray-600;

        p {
          color: $mauve-500;
        }
      }
    }
  }

  @include tablet-down  {
    padding: 1.125rem 1rem;

    .meta {
      display: none;
    }

    .divider {
      display: none;
    }

    .user-actions {
      .button:nth-of-type(2),
      .user,
      .project,
      .challenges {
        display: none;
      }

      p {
        font-size: 1rem;
      }
    }

    &.menu-open {
      .user-actions .user,
      .routes,
      .project,
      .challenges{
        display: flex;
      }

      .routes {
        margin-top: 1rem;
      }

      .meta {
        display: block;
      }

      .divider {
        display: block;
      }

      .button:nth-of-type(2) {
        display: inline-block;
      }
    }
  }
}