.skeleton {
  animation: shine 2s infinite linear;
  background: $darkblue-700;
  background-image: linear-gradient(90deg, $darkblue-700 0px, lighten($darkblue-700, 3%) 40px, $darkblue-700 80px);
  background-position: -100px;
  background-size: 1000px;
  border: none;
  border-radius: .25rem;
  color: transparent;
  user-select: none;

  * {
    opacity: 0;
  }

  &:hover {
    color: transparent;
  }
}

@keyframes shine {
  0% { background-position: -100px; }
  100% { background-position: 720px; }
}