.toast {
  align-items: flex-start;
  background: $darkblue-900;
  border-radius: .5rem;
  box-shadow: 0px 4px 6px #101F3E;
  display: flex;
  padding: 1.5rem;
  position: fixed;
  right: 2rem;
  top: 2rem;
  width: 300px;
  z-index: 2;

  i {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-right: .5rem;
  }

  p {
    margin-bottom: 0;
  }

  &.success {
    border: 2px solid $green-400;

    i {
      color: $green-400;
    }
  }

  &.error {
    border: 2px solid $red-500;

    i {
      color: $red-500;
    }
  }

  @include tablet-down {
    top: 1rem;
    right: 1rem;
    width: calc(100% - 2rem);
  }
}