.vote {
  align-items: center;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 3rem;

  p {
    align-items: center;
    background: $darkblue-900;
    border-radius: .25rem;
    color: $mauve-500;
    display: flex;
    font-weight: $font-weight-bold;
    justify-content: center;
    height: 2rem;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    width: 3rem;

    span {
      color: $mauve-500;
      color: $mauve-500;
      display: none !important;
      font-weight: $font-weight-normal;
    }
  }

  .button {
    align-items: center;
    background: transparent;
    color: $darkblue-900;
    border: 0;
    border-radius: .25rem;
    display: flex;
    font-size: 14px;
    height: 2rem;
    justify-content: center;
    line-height: 1rem;
    padding: 0;
    text-decoration: none;
    width: 3rem;

    &:first-of-type {
      border-radius: .25rem .25rem 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 .25rem .25rem;
    }
  }

  &:hover {
    p {
      background: transparent;
      color: $mauve-500;
    }

    .button {
      background: $darkblue-900;

      &.upvote {
        color: $green-400;
      }

      &.downvote {
        color: $red-500;
      }

      &:hover {
        background: $darkblue-700;
      }
    }

    &.upvoted {
      .button {
        &.upvote {
          pointer-events: none;
        }

        &.downvote {
          color: $darkblue-700;
        }
      }
    }

    &.downvoted {
      .button {
        &.upvote {
          color: $darkblue-700;
        }

        &.downvote {
          pointer-events: none;
        }
      }
    }

    &.disabled {
      p {
        background: $darkblue-900;
        color: $mauve-500;
      }

      .button {
        &.upvote,
        &.downvote {
          background: transparent;
          color: $darkblue-900;
          cursor: default;
          user-select: none;
        }
      }
    }
  }

  &.sm {
    padding: 0;
    width: 2rem;

    p {
      height: 1.75rem;
      margin: 0;
      width: 2rem;
    }

    .button {
      height: 1.75rem;
      width: 2rem;

      &:hover {
        background: $darkblue-800;
      }
    }
  }

  @include tablet-down {
    &:not(.sm) {
      flex-direction: row;
      height: 2.5rem;
      justify-content: space-between;
      padding: .5rem 1rem;
      width: 100%;

      p {
        span {
          display: inline;
        }
      }

      .button {
        border-radius: .5rem 0 0 .5rem;
        height: 28px;
        width: 40px;

        &:last-of-type {
          border-radius: 0 .5rem .5rem 0;
        }
      }
    }

    &.sm {
      .button {
        line-height: .8rem;
      }

      p {
        line-height: 1rem;
      }
    }
  }

  &.horizontal {
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: 100%;

    p {
      width: 7rem;

      span {
        display: inline-block !important;
        margin-left: .25rem;
      }
    }

    .button {
      border-radius: .5rem 0 0 .5rem;
      height: 28px;
      width: 40px;

      &:last-of-type {
        border-radius: 0 .5rem .5rem 0;
      }
    }
  }
}