{% extends 'base_app.html' %}
{% set title = 'HackerStash / Notifications' %}
{% from "partials/notification.html" import notification %}

{% block body %}
    <div class="page notifications">
        <header class="header">
            <h2 role="heading">Notifications</h2>
            <a href="{{ url_for('notifications.settings') }}" class="button secondary">Settings</a>
        </header>

        {% include "partials/messages.html" %}

        {% if notifications.all | length %}
            {% if notifications.unread | length %}
                <h4 class="notification-heading mb-1">
                    <span>Unread</span>
                    <a href="{{ url_for('notifications.mark_as_read', all=1) }}">Mark all as read</a>
                </h4>
                <ul class="notification-list mb-3">
                    {% for n in notifications.unread %}
                        {{ notification(n, unread=True) }}
                    {% endfor %}
                </ul>
            {% endif %}

            {% if notifications.read | length %}
                <h4 class="notification-heading mb-1">
                    <span>Read</span>
                    <a href="{{ url_for('notifications.delete', all=1) }}">Delete all</a>
                </h4>
                <ul class="notification-list">
                    {% for n in notifications.read %}
                        {{ notification(n) }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
            {% include "partials/no_results.html" %}
        {% endif %}
    </div>
{% endblock %}