{% extends 'base_app.html' %}
{% set title = 'HackerStash / Notifications' %}

{% block body %}
    <div class="page notifications">
        <header class="header">
            <h2>Notifications</h2>
            <a href="{{ url_for('notifications.settings') }}" class="button secondary">Settings</a>
        </header>

        {% include "partials/messages.html" %}

        {% if notifications %}
            <a href="{{ url_for('notifications.mark_as_read', all=1) }}" class="mt-2">Mark all as read</a>
            <ul class="notification-list mt-2">
                {% for notification in notifications | sort(attribute='created_at', reverse=True) %}
                    <li>
                        <div class="details">
                            <p class="mb-0-5">{{ notification.message | safe }}</p>
                            <p class="small mb-0">{{ notification.created_at | to_human_date }}</p>
                        </div>
                        <a class="button close-button" href="{{ url_for('notifications.mark_as_read', notification_id=notification.id) }}">
                            <i class="icon ri-close-line"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% include "partials/no_results.html" %}
        {% endif %}
    </div>
{% endblock %}