{% extends "layouts/email.html" %}
{% from "partials/button.html" import button %}
{% from "partials/manage_notifications.html" import manage_notifications %}

{% block body %}
    <h1>You Have 3 Days remaining to upvote your top 3 favourite <a href="{{ host }}{{ url_for('projects.index') }}">projects</a> on HackerStash</h1>
    <p>Some ideas and questions to help you choose:</p>

    <p>
        &bull; Which competing project impresses you most?<br><br>
        &bull; Is there a competing project you’d love to win some financial support?<br><br>
        &bull; Did a community member offer you valuable feedback this week? Maybe you can share the love by upvoting their project.
    </p>

    {{ button(host, 'Visit HackerStash') }}

    {{ manage_notifications(host) }}
{% endblock %}