{% extends "base_email.html" %}

{% block body %}
    <p>Dear {{ member.user.first_name }},</p>

    <p>We're emailing to confirm that we have successfully cancelled your subscription to the HackerStash community. Your project is no longer published and you will not be entitled to any further tournament prizes.</p>
    <p>You can still access your account to cash out any remaining funds in your stash. Additionally, you are welcome to republish your project at any time.</p>
    <p>If you believe this cancellation was processed in error, please contact us via <a href="mailto:finance@hackerstash.com">finance@hackerstash.com</a>.</p>

    <p>Kind Regards, <br>The HackerStash Team</p>
{% endblock %}