{% extends "base_email.html" %}

{% block body %}
    <p>Dear {{ member.user.first_name }},</p>

    <p>Thank you for your payment!</p>
    <p>This is a friendly reminder that your HackerStash community subscription will automatically renew soon. You can review and adjust your subscription by clicking <a href="{{ host }}{{ url_for('projects.subscription', project_id=member.project.id) }}">here</a>.</p>

    <p>Project: {{ member.project.name }}</p>
    <p>Renewal Date: {{ subscription.renew_date | to_contest_date }}</p>
    <p>Renewal Cost: ${{ subscription.total }} USD</p>

    <p>Kind Regards, <br>The HackerStash Team</p>
{% endblock %}