{% extends "base_email.html" %}

{% block body %}
    <p>Hi {{ first_name }},</p>

    <p>Thanks so much for joining the HackerStash waitlist 😍!</p>

    <p>It's not long now until we launch, but in the mean time we'll keep you updated on our progress via email. If you have any questions or ideas for us then please don't hesitate to respond to this email, or reach out to <a href="mailto:chris@hackerstash.com">chris@hackerstash.com</a>.</p>

    <p>We can't wait to invite you to sign in to HackerStash for the first time and to help you and the community fund your projects 💸. If you know anyone else that might be excited about HackerStash then please spread the word 😊.</p>

    <p>Kind Regards,</p>

    <p>The HackerStash Team</p>
{% endblock %}