{% extends 'base_app.html' %}
{% set title = 'HackerStash / Posts / ' + post.title + ' / Edit' %}

{% block body %}
    <div class="page posts new">
        <header class="header">
            <h2>Update Post</h2>
        </header>

        <form class="form" action="{{ url_for('posts.update', post_id=post.id) }}" method="post">
            <fieldset>
                <div class="split">
                    <div class="left">
                        <label class="label" for="title">Title</label>
                        <input class="input" type="text" id="title" name="title" required value="{{ post.title }}">

                        <label class="label add-image" for="body">
                            Update
                            <input class="input" id="file" type="file" name="file" accept="image/jpg, image/jpeg, image/png" multiple>
                            <input class="input" type="hidden" id="filenames_to_upload" name="filenames_to_upload" value="{{ image_list }}">
                            <label class="label button upload link" for="file">Add images</label>
                        </label>
                        <textarea class="input textarea" id="body" name="body" required rows="10">{{ post.body }}</textarea>
                        <ul class="images post-images">
                            {% for image in post.images %}
                                <li>
                                    <div class="image">
                                        <img src="https://images.hackerstash.com/{{ image.key }}">
                                    </div>
                                    <button class="button link delete-image" type="button" data-file-name="{{ image.file_name }}">
                                        <i class="icon ri-close-line"></i>
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="right">
                        <p><b>💡 Tips</b></p>
                        <ul>
                            <li>You can use markdown to format your posts. <a href="#" class="modal-open" data-modal="markdown-modal">View the available options here.</a></li>
                            <li>You’re posting on behalf of your project, if people upvote your post your project earns points too.</li>
                            <li>Make sure your title is clear and engaging.</li>
                            <li>Share what you’ve been working on - successes and failures.</li>
                            <li>If you’ve learned anything that could be helpful to other community members, let them know.</li>
                            <li>Nobody likes clickbait.</li>
                            <li>Don’t ask for votes.</li>
                        </ul>
                    </div>
                </div>

                <hr class="divider">
                <div class="button-group">
                    <button class="button" type="submit">Update</button>
                    <a class="button secondary" href="{{ url_for('posts.show', post_id=post.id) }}">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>

    <div id="markdown-modal" class="modal">
        <div class="modal-body md">
            <header>
                <h3>Markdown Guide</h3>
                <i class="icon ri-close-line modal-close"></i>
            </header>
            <main>
                <p class="mb-2">You can use the markdown syntax below when writing your post. This will render the corresponding formatting when your post is published.</p>
                <label class="label">Headings</label>
                <p class="mb-1-5"># H1<br>## H2<br>### H3</p>
                <label class="label">Bold</label>
                <p class="mb-1-5">**bold text**</p>
                <label class="label">Italic</label>
                <p class="mb-1-5">*italicized text*</p>
                <label class="label">Link</label>
                <p class="mb-1-5">[title](https://www.example.com)</p>
                <label class="label">Ordered list</label>
                <p class="mb-1-5">1. First item<br>2. Second item<br>3. Third item</p>
                <label class="label">Unordered list</label>
                <p class="mb-1-5">- First item<br>- Second item<br>- Third item</p>
                <label class="label">Block quote</label>
                <p class="mb-1-5">&gt; block quote</p>
                <label class="label">Horizontal rule</label>
                <p class="mb-1-5">---</p>
                <label class="label">Strikethrough</label>
                <p class="mb-1-5">~~The world is flat.~~</p>
                <label class="label">Code</label>
                <p class="mb-1-5">`code`</p>
                <label class="label">Image</label>
                <p class="mb-1-5">Once you have uploaded an image you can insert the following syntax using the filename of your upload:</p>
                <p>![alt text](image.jpg)</p>

                <footer>
                    <button class="button modal-close">Close</button>
                </footer>
            </main>
        </div>
    </div>
{% endblock %}