{% extends 'layouts/app.html' %}
{% set title = 'HackerStash / Posts / ' + post.title + ' / Edit' %}

{% from "partials/editor.html" import editor_full %}
{% from "partials/polls.html" import poll %}

{% block body %}
    <div class="page posts new {{ 'has-poll' if post.poll }}">
        <header class="header">
            <h2 role="heading">Update {{ 'Poll' if post.poll else 'Post' }}</h2>
        </header>

        <form role="form" class="form editor-form" action="{{ url_for('posts.update', post_id=post.id) }}" method="post">
            <fieldset>
                <div class="split">
                    <div class="left">
                        <label class="label" for="title">Title</label>
                        <input class="input" type="text" id="title" name="title" required value="{{ post.title }}">

                        <label class="label" for="tag">Group</label>
                        <div class="select mb-1-5">
                            <select id="tag" name="tag">
                                <option disabled selected value>Please select</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}" {{ 'selected' if post.tag.id == tag.id }}>{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                            <i class="icon ri-arrow-drop-down-line"></i>
                        </div>

                        <label class="label">Post</label>
                        {{ editor_full(post.body) }}

                        {% if post.poll %}
                            <div class="mb-3">
                                <h4 class="mt-2 mb-1-5">Poll</h4>
                                {{ poll(post, read_only=True) }}
                            </div>
                        {% endif %}
                    </div>
                    <aside class="right" role="complementary" aria-label="Tips for posting on HackerStash">
                        <p><b>💡 Tips</b></p>
                        <ul>
                            <li>You’re posting on behalf of your project, if people upvote your post your project earns points too.</li>
                            <li>Make sure your title is clear and engaging.</li>
                            <li>Share what you’ve been working on - successes and failures.</li>
                            <li>If you’ve learned anything that could be helpful to other community members, let them know.</li>
                            <li>Nobody likes clickbait.</li>
                            <li>Don’t ask for votes.</li>
                        </ul>
                    </aside>
                </div>

                <hr class="divider">

                <div class="actions">
                    <div class="button-group">
                        <button aria-label="Update post" class="button" type="submit">Update</button>
                        <a aria-label="Cancel and return to post page" class="button secondary" href="{{ url_for('posts.show', post_id=post.url_slug) }}">Cancel</a>
                    </div>
                    <button aria-label="Delete post" type="button" class="button tertiary modal-open" data-modal="delete-modal">Delete</button>
                </div>
            </fieldset>
        </form>
    </div>

    <div id="delete-modal" class="modal">
        <div class="modal-body sm" role="dialog" aria-labelledby="delete-post-modal-header">
            <header>
                <h3 id="delete-post-modal-header">Delete Post</h3>
                <i class="icon ri-close-line modal-close" role="button" tabindex="0" aria-label="Close delete post modal"></i>
            </header>
            <main>
                <p class="mt-1">Are you sure you wish to delete your post?</p>
                <footer class="mt-3">
                    <a aria-label="Delete post" href="{{ url_for('posts.destroy', post_id=post.id) }}" class="button tertiary" role="button" tabindex="0">Yes, I'm sure</a>
                    <button class="button secondary modal-close" type="button">Cancel</button>
                </footer>
            </main>
        </div>
     </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = () => createEditor('.editor-form');
    </script>
{% endblock %}