{% extends 'base_app.html' %}
{% set title = 'HackerStash / Posts' %}

{% from "partials/avatar.html" import avatar %}
{% from "partials/comments.html" import comments %}
{% from "partials/previews.html" import project_preview, user_preview %}
{% from "partials/vote.html" import post_vote %}

{% block body %}
    <div class="page posts show">
        <header class="header">
            <div class="post-votes">
                {{ post_vote('lg', post) }}
            </div>
            <div class="details">
                <p class="small">{{ post.created_at | to_human_date }}</p>
                <h2>{{ post.title }}</h2>
                <p class="small">
                    {{ project_preview(post.project) }}
                    <span>update by </span>
                    {{ avatar(post.user, 'xx-sm') }}
                    {{ user_preview(post.user) }}
                </p>
            </div>
            <div class="button-group">
                {% if post.has_author(g.user) %}
                    <a href="{{ url_for('posts.edit', post_id=post.id) }}" class="button secondary">Edit</a>
                    <a href="{{ url_for('posts.destroy', post_id=post.id) }}" class="button tertiary">Delete</a>
                {% else %}
                    <a href="{{ url_for('posts.index') }}" class="button secondary">Back</a>
                {% endif %}
            </div>
        </header>

        <div class="post-body wrap-620">
            <div class="markdown">
                {{ post | to_post_body | safe }}
            </div>
        </div>

        <hr class="divider mt-3 mb-3">

        {% if g.user %}
            <form class="form wrap-620 comment-form" action="{{ url_for('posts.comment', post_id=post.id) }}" method="post">
                <fieldset>
                    <label class="label" for="body">New comment</label>
                    <textarea class="input textarea mb-1" id="body" name="body" rows="4"></textarea>
                    <div class="button-group">
                        <button class="button" type="submit">Comment</button>
                        <button class="button secondary cancel" type="button">Cancel</button>
                    </div>
                </fieldset>
            </form>
        {% endif %}

        <label class="label comment-count mt-3 mb-3">{{ post.comments | length }} Comments</label>

        {{ comments(post.comments, true) }}
    </div>
{% endblock %}