{% extends 'base_app.html' %}
{% set title = 'HackerStash / Posts / ' + post.title %}
{% set og_title = post.title %}
{% set og_description = post.body | to_plain_text %}
{% set post_url = 'https://hackerstash.com' + url_for('posts.show', post_id=post.url_slug) %}

{% from "partials/avatar.html" import avatar %}
{% from "partials/comments.html" import nested_comments %}
{% from "partials/editor.html" import editor_light %}
{% from "partials/previews.html" import project_preview, user_preview %}
{% from "partials/vote.html" import post_vote %}

{% block meta %}
    <meta name="author" content="{{ post.user.first_name }} {{ post.user.last_name }}">
{% endblock %}

{% block body %}
    <div class="page posts show">
        <header class="header">
            <div class="post-votes post-votes-{{ post.id }}">
                {{ post_vote('lg', post) }}
            </div>
            <div class="details">
                <p class="small">
                    {{ post.created_at | to_human_date }}
                </p>
                <h2>{{ post.title }}</h2>
                <p class="small">
                    {{ project_preview(post.project) }}
                    <span>update by </span>
                    {{ avatar(post.user, 'xx-sm') }}
                    {{ user_preview(post.user) }}
                    {% if post.tag %} in <a href="{{ url_for('posts.tags', tag=post.tag.id) }}">{{ post.tag.name }}</a>{% endif %}
                </p>
            </div>

            <div class="button-group">
                {% if post.has_author(g.user) %}
                    <a aria-label="Edit post" href="{{ url_for('posts.edit', post_id=post.id) }}" class="button secondary">Edit</a>
                {% else %}
                    <a aria-label="Back to all posts" href="{{ url_for('posts.index') }}" class="button secondary has-icon">
                        <i class="ri-arrow-left-line"></i>
                        Back
                    </a>
                {% endif %}
                <a target="_blank" rel="nofollow noreferrer" href="https://twitter.com/intent/tweet?original_referer={{ post_url }}&tw_p=tweetbutton&url={{ post_url }}&text={{ post.title }} - " class="button has-icon twitter">
                    <i class="icon ri-twitter-fill"></i>
                    Tweet
                </a>
            </div>
        </header>

        <div class="post-body wrap-745">
            <div class="rich-text">
                {{ post.body | to_safe_html | safe }}
            </div>
        </div>

        <hr class="divider mt-3 mb-3">

        {% if g.user and g.user.can_post %}
            <form class="form wrap-620 comment-form editor-form" action="{{ url_for('posts.create_comment', post_id=post.id) }}" method="post">
                <fieldset>
                    <label class="label" for="body">New comment</label>
                    {{ editor_light() }}
                    <div class="button-group mt-1-5">
                        <button aria-label="Create new comment" class="button" type="submit">Comment</button>
                        <button aria-label="Cancel creating new comment" class="button secondary cancel" type="button">Cancel</button>
                    </div>
                </fieldset>
            </form>
        {% endif %}

        <label class="label comment-count mt-3 mb-3">{{ post.comments | length }} Comments</label>
        {{ nested_comments(post.comments, true) }}
    </div>
{% endblock %}

{% block scripts %}
    {% if g.user %}
    <script type="text/javascript">
        window.onload = () => createEditor('.comment-form', { light: true });
    </script>
    {% endif %}
{% endblock %}