.page.posts.new {
  .divider {
    margin: 1rem 0 2rem 0;
  }

  .split {
    display: flex;

    @include tablet-down {
      flex-direction: column;
    }
  
    .left {
      flex: 1;
    }

    .right {
      flex-shrink: 0;
      margin-left: 2.5rem;
      width: 260px;

      @include tablet-down {
        margin-left: 0;
        width: 100%;
      }

      p {
        border-bottom: 1px solid $darkblue-900;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
      }

      ul {
        font-size: 14px;
        margin: 0;
        padding: 0;

        li {
          margin: 0 0 .75rem 1rem;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;

    @include tablet-down {
      flex-direction: column;
    }
  }
}