.page.posts.new {
  .divider {
    margin: 1rem 0 2rem 0;
  }

  .split {
    display: flex;

    @include tablet-down {
      flex-direction: column;
    }
  
    .left {
      flex: 1;
    }

    .right {
      flex-shrink: 0;
      margin-left: 2.5rem;
      width: 260px;

      @include tablet-down {
        margin-left: 0;
        width: 100%;
      }

      p {
        border-bottom: 1px solid $gray-900;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
      }

      ul {
        font-size: 14px;
        margin: 0;
        padding: 0;

        li {
          margin: 0 0 .75rem 1rem;
        }
      }
    }
  }

  .poll-tab {
    .editor {
      height: 180px;
    }

    .poll-row {
      align-items: center;
      display: flex;
      margin-bottom: .5rem;

      .icon {
        color: $red-500;
        cursor: pointer;
        font-size: 1.25rem;
        margin-left: .5rem;
      }

       &:nth-of-type(1),
       &:nth-of-type(2) {
        .icon {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    .add-choice-button {
      color: $blue-500;
      display: block;
      font-size: 14px;

      .link {
        color: $blue-500;
        text-decoration: underline;
      }

      @include tablet-down {
        font-size: 12px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;

    @include tablet-down {
      flex-direction: column;
    }
  }

  .groups {
    align-items: center;
    display: flex;

    .button {
      color: $blue-500;
      margin-left: 2rem;
      text-decoration: underline;
    }

    @include tablet-down {
      align-items: flex-start;
      flex-direction: column;

      .button {
        margin: 1rem 0 0 0;
      }
    }
  }

  &.has-poll {
    .editor {
      height: 180px;
    }

    .read-only {
      margin-top: 0;
    }
  }
}