{% extends 'base_app.html' %}
{% set title = 'HackerStash' %}

{% block body %}
    <div class="page home">
        <div class="header-banner">
            <div class="title">
                <h1>Supercharge Your Startup With The Power Of Community</h1>
            </div>
        </div>
        <section class="home-section what-is">
            <div class="left">
                <h2 class="mb-2">What is HackerStash?</h2>
                <p>HackerStash is private community with a weekly tournament designed to help you drive your project forward whilst supporting projects and services you love.</p>
                <p>You’ll share updates and news about your project and vote on competing projects, with the top competitors winning cash prizes each week to help drive their projects forward.</p>
                <p>A HackerStash subscription costs $9 per month, and the prize pool gets larger as more projects take part.</p>
                <p>Join today and get <span class="highlight">2 months access for $10</span>!</p>
            </div>
            <div class="right">
                <div class="sign-up">
                    <h3 class="mb-2">Sign up today!</h3>
                    <div class="button-group mb-2">
                        <a href="{{ url_for('auth.google_login') }}" class="button has-icon google">
                            <i class="google-icon"></i> Google
                        </a>
                        <a href="{{ url_for('auth.twitter_login') }}" class="button has-icon twitter">
                            <i class="icon ri-twitter-fill"></i> Twitter
                        </a>
                    </div>
                    <p>Or, use your <a href="{{ url_for('auth.signup', use_email=1) }}">email address</a></p>
                    <p class="small mt-2-5 mb-0">By signing up using Google, Twitter, or your email address above, you acknowledge that you have read and agree to the HackerStash Terms of Use and Privacy Policy.</p>
                </div>
            </div>
        </section>

        <hr class="divider thicc">

        <section class="home-section why">
            <h2>Why you should join</h2>
            <div class="accordion-wrapper">
                <div class="phone" data-index="0">
                    <img data-tab="leaderboard" class="active" src="/static/images/phone-leaderboard.svg">
                    <img data-tab="notifications" src="/static/images/phone-notifications.svg">
                    <img data-tab="rules" src="/static/images/phone-rules.svg">
                    <div class="d-none-large navigation">
                        <i class="ri-arrow-left-line prev disabled"></i>
                        <i class="ri-arrow-right-line next"></i>
                    </div>
                    <div class="d-none-large indicators">
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="accordion">
                    <ul>
                        <li class="active" data-tab="leaderboard">
                            <div class="title">
                                <i class="ri-money-dollar-circle-line"></i>
                                <p>Fund great projects, and your own!</p>
                                <i class="ri-subtract-line toggle close"></i>
                                <i class="ri-add-line toggle add"></i>
                            </div>
                            <div class="body">
                                <p class="small">Not all projects or businesses need huge cash injections to help them launch or find product market fit. That said, small amounts can make a huge difference and help you get there faster!</p>
                                <p class="small">Every week the top HackerStash projects win small cash prizes to help fund their projects, no strings attached.</p>
                            </div>
                        </li>
                        <li data-tab="notifications">
                            <div class="title">
                                <i class="ri-rocket-2-line"></i>
                                <p>Accelerate your business</p>
                                <i class="ri-subtract-line toggle close"></i>
                                <i class="ri-add-line toggle add"></i>
                            </div>
                            <div class="body">
                                <p class="small">Community engagement is one of the secret weapons of a successful founder.</p>
                                <p class="small">You don’t need an elite network or deep expertise across all subject areas, by coming together and helping each other we can all learn to fail faster and succeed more often.</p>
                            </div>
                        </li>
                        <li data-tab="rules">
                            <div class="title">
                                <i class="ri-team-line"></i>
                                <p>The community is in control</p>
                                <i class="ri-subtract-line toggle close"></i>
                                <i class="ri-add-line toggle add"></i>
                            </div>
                            <div class="body">
                                <p class="small">Your votes, and those of other community members, determine the winners each week - there’s no invisible hand tipping the scales and the rules are 100% transparent.</p>
                                <p class="small">Not only that, but each week the tournament restarts and scores are wiped, so nobody gains an advantage from being a member for longer.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tournament">
                <h2>The HackerStash Tournament</h2>

                <div class="row">
                    <span class="icon">
                        <i class="ri-flashlight-line"></i>
                    </span>
                    <p><b>Pubish your project</b></p>
                    <p class="small">To join the tournmanet simply complete your project description, invite your team members and publish your project ($9 per month)</p>
                </div>
                <div class="row">
                    <span class="icon">
                        <i class="ri-stackshare-line"></i>
                    </span>
                    <p><b>Share your progress</b></p>
                    <p class="small">Shares regular updates on how your project is going, what you’re learning, big wins/losses, ask the community when you’re looking advice or support.</p>
                </div>
                <div class="row">
                    <span class="icon">
                        <i class="ri-bar-chart-box-line"></i>
                    </span>
                    <p><b>Vote and complete challenges</b></p>
                    <p class="small">Each post, comment or project can earn points directly from other users and you can also complete weekly challenges that boost your score.</p>
                </div>
                <div class="row">
                    <span class="icon">
                        <i class="ri-trophy-line"></i>
                    </span>
                    <p><b>Win prizes</b></p>
                    <p class="small">The more points your project earns, the higher you are ranked on the leaderboard. Each week the tournament closes at midnight GMT on a Sunday, after which point the winners are announced.</p>
                </div>
            </div>
        </section>

        <hr class="divider thicc d-none-small">

        <section class="home-section started">
            <h3 class="mb-2">Why We Started HackerStash</h3>
            <p class="wrap-620 small">Too many great business ideas fail before they’ve even managed to find their feet and we think HackerStash can leverage the transformational value of community particpation to change that.</p>
            <p class="wrap-620 small">Harry King explains why in this video, or you can read our blog article on the topic here.</p>

            <div class="video"></div>
        </section>
    </div>
{% endblock %}
