// Blues
$blue-900: #2472D3;
$blue-500: #70B0FF;
$blue-400: #ADD2FF;

// Grays
$gray-900: #0E0E0E;
$gray-800: #1F1F1F;
$gray-700: #343434;
$gray-600: #494949;

// Weird whites
$mauve-1000: #808080;
$mauve-900: #CBCBCB;
$mauve-500: #F0F0F0;

// Reds
$red-500: #FF3C5F;
$red-700: #CA1148;

// Greens
$green-400: #3EF57D;
$green-500: #4EFF8A;

// Yellows
$yellow-400: #F5E33E;

// Social
$google-background: white;
$google-foreground: $gray-900;
$twitter-background: #1DA1F2;
$twitter-foreground: white;

// Misc
$modal-overlay: rgba(14, 14, 14, 0.8);

// Breakpoints
$tablet: 1024px;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-block: 700;