{% extends 'base_app.html' %}
{% set title = 'HackerStash / Subscription' %}

{% block body %}
    <div class="page project subscription">
        <header class="header">
            <h2 role="heading">Manage Subscription</h2>
            <a class="button secondary has-icon" href="{{ url_for('projects.edit', project_id=project.id) }}">
                <i class="ri-arrow-left-line"></i>
                Back
            </a>
        </header>

        <div class="subscription-published">
            <h4 class="mb-1-5">Payment schedule</h4>
            <dl>
                <dt>Subscription</dt>
                <dd>$9 per month</dd>
                <dt>Next payment</dt>
                <dd>N/A</dd>
            </dl>

            <h4 class="mt-2 mb-1-5">Payee details</h4>
            <dl>
                <dt>Name</dt>
                <dd>{{ payment_details.name or 'Unknown' }}</dd>
                <dt>Email</dt>
                <dd>{{ payment_details.email or 'Unknown' }}</dd>
                <dt>Card number</dt>
                <dd>{{ payment_details.card_number or 'Unknown' }}</dd>
            </dl>

            <div class="button-group mt-3">
                <button class="button tertiary modal-open" data-modal="cancel-subscription">Cancel subscription</button>
            </div>

            <hr class="divider mt-2 mb-2">

            <h3 class="mb-1-5">Past receipts</h3>
            {% for sub in project.subscriptions %}
                <p>{{ sub.start_date | to_contest_date }} <a href="{{ sub.receipt_url }}" class="ml-1" target="_blank" rel="nofollow noreferrer">View</a></p>
            {% endfor %}
        </div>
    </div>

    <div id="cancel-subscription" class="modal cancel-subscription-modal">
        <div class="modal-body sm" role="dialog" aria-labelledby="cancel-subscription-modal-header">
            <header>
                <h3 id="cancel-subscription-modal-header">Cancel Subscription</h3>
                <i class="icon ri-close-line modal-close" role="button" tabindex="0" aria-label="Close cancel subscription modal"></i>
            </header>
            <main>
                <p class="mt-1">Are you sure you want to cancel your subscription?</p>

                <footer class="mt-2">
                    <a href="{{ url_for('subscriptions.cancel_subscription') }}" class="button tertiary" role="button" tabindex="0">Cancel subscription</a>
                    <button class="button secondary modal-close">Cancel</button>
                </footer>
            </main>
        </div>
    </div>
{% endblock %}