{% extends 'base_app.html' %}
{% set title = 'HackerStash / Terms' %}

{% block body %}
    <div class="page legal terms">
        <header class="header">
            <h2>HackerStash Terms of Service</h2>
        </header>

        <div class="legal">
            <p><b>TERMS OF SERVICE</b></p>
            <p>Last updated: 04/10/2020</p>
            <ol>
                <li>
                    <h3>Introduction</h3>
                    <p>Welcome to <b>HackerStash, Inc</b> (“<b>Company</b>”, “<b>>we</b>”, “<b>our</b>”, “<b>us</b>”)! As you have just clicked our Terms of Service, please pause, grab a cup of coffee and carefully read the following pages. It will take you approximately 20 minutes.</p>
                    <p>These Terms of Service (“<b>Terms</b>”, “**Terms of Service**”) govern your use of our web pages located at <a href="https://hackerstash.com">https://hackerstash.com</a> operated by HackerStash, Inc</p>
                    <p>Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and disclose information that results from your use of our web pages. Please read it here <a href="https://hackerstash.com/privacy">https://hackerstash.com/privacy</a>.</p>
                    <p>Your agreement with us includes these Terms and our Privacy Policy (“<b>Agreements</b>”). You acknowledge that you have read and understood Agreements, and agree to be bound of them.</p>
                    <p>If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but please let us know by emailing at <a href="mailto:hello@hackerstash.com">hello@hackerstash.com</a> so we can try to find a solution. These Terms apply to all visitors, users and others who wish to access or use Service.</p>
                    <p>Thank you for being responsible.</p>
                </li>
                <li>
                    <h3>Communications</h3>
                    <p>By creating an Account on our Service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or by emailing at.</p>
                </li>
                <li>
                    <h3>Purchases</h3>
                    <p>If you wish to purchase any product or service made available through Service (“<b>Purchase</b>”), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.</p>
                    <p>You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct and complete.</p>
                    <p>We may employ the use of third party services for the purpose of facilitating payment and the completion of Purchases. By submitting your information, you grant us the right to provide the information to these third parties subject to our Privacy Policy.</p>
                    <p>We reserve the right to refuse or cancel your order at any time for reasons including but not limited to: product or service availability, errors in the description or price of the product or service, error in your order or other reasons.</p>
                    <p>We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.</p>
                </li>
                <li>
                    <h3>Subscriptions</h3>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}