{% extends 'layouts/app.html' %}
{% set title = 'HackerStash / Contact' %}

{% block body %}
    <div class="page contact">
        <header class="header mb-0">
            <h2 role="heading">Contact Us</h2>
        </header>

        <p class="mt-2">If you’d like to get in touch, please use the form below or email <a href="mailto:hello@hackerstash.com">hello@hackerstash.com</a>.</p>

        <form id="recatpcha-form" class="form mt-2 wrap-620 contact-form" action="{{ url_for('contact.index') }}" method="post">
            <fieldset>
                {% if request.args.success %}
                    <div class="message success">
                        <p>Your message has been sent</p>
                        <i class="icon ri-close-line close-message"></i>
                    </div>
                {% endif %}

                <label class="label" for="name">Name</label>
                <input class="input" id="name" name="name" placeholder="e.g. Holly" autocomplete="fname" required>

                <label class="label" for="email">Email address</label>
                <input class="input" id="email" name="email" placeholder="e.g. holly@hackerstash.com" autocomplete="email" required=>

                <label class="label" for="subject">Subject</label>
                <input class="input" id="subject" name="subject" placeholder="e.g. I love Hackerstash so much it hurts" required>

                <label class="label" for="message">Message</label>
                <textarea class="input textarea" id="message" name="message" rows="7" required></textarea>

                <hr class="divider">

                <div class="button-group">
                    <button class="button g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback="handleCaptchaSubmit" data-action="submit" type="submit">Send message</button>
                </div>

                <p class="small recaptcha">protected by <a href="https://policies.google.com/privacy?hl=en" target="_blank" rel="nofollow noreferrer">reCAPTCHA</a></p>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}