{% extends 'base_app.html' %}
{% set title = 'HackerStash / Log In' %}

{% block body %}
    <div class="page login">
        <header class="header">
            <h2>Log In</h2>
        </header>

        {% include "partials/messages.html" %}

        {% if step == 1 %}
            <form class="form login-form mt-1" action="{{ url_for('auth.login') }}" method="post">
                <fieldset>
                    <div class="email">
                        <label class="label" for="email">Email address</label>
                        <input class="input wrap-300 mb-1" id="email" name="email" type="email" autocomplete="email" required value="{{ email }}">
                        <button class="button button secondary wrap-300" type="submit">
                            Continue with email
                        </button>
                    </div>
                </fieldset>
            </form>
        {% elif step == 2 %}
            <form class="form login-form mt-1" action="{{ url_for('auth.login') }}" method="post">
                <fieldset>
                    <div class="email">
                        <label class="label" for="email">Email address</label>
                        <input class="input wrap-300 mb-1" id="email" name="email" type="email" autocomplete="email" required value="{{ email }}">

                        <p class="check-inbox">We’ve just sent you a <b>temporary log in code</b>. <i>Please check your inbox.</i></p>
                        <label class="label" for="code">Log in code</label>
                        <input class="input wrap-300" id="code" name="code" type="text" autocomplete="none" required>

                        <button class="button button secondary wrap-300" type="submit">
                            Continue with login code
                        </button>
                    </div>
                </fieldset>
            </form>
        {% else %}
            <label class="label mt-3">Continue with:</label>
            <div class="button-group">
                <a href="{{ url_for('auth.google_login') }}" class="button has-icon mb-2 google">
                    <i class="google-icon"></i> Google
                </a>
                <a href="{{ url_for('auth.twitter_login') }}" class="button has-icon mb-2 twitter">
                    <i class="icon ri-twitter-fill"></i> Twitter
                </a>
            </div>

            <p>Or, use your <a href="?use_email=1">email address</a></p>
        {% endif %}
    </div>
{% endblock %}