{% extends 'base_simple.html' %}
{% set title = 'HackerStash / Admin Login' %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block body %}
    <div class="page admin login">
        <div class="login-form">
            <form class="form" method="post" action="{{ url_for('admin_auth.index') }}">
                <fieldset>
                    <h3 class="mb-2">Admin Login</h3>

                    {% include "partials/messages.html" %}

                    <label class="label" for="email">Email</label>
                    <input class="input" name="email" id="email" type="email">

                    <label class="label" for="password">Password</label>
                    <input class="input mb-2" name="password" id="password" type="password">

                    <button class="button w-100" type="submit">Login</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}