{% extends 'base_app.html' %}
{% set title = 'HackerStash / Profile' %}

{% from "partials/avatar.html" import avatar_upload %}
{% from "partials/editor.html" import editor_light %}

{% block body %}
    <div class="page user profile">
        <header class="header">
            <h2 role="heading">Edit Profile</h2>
            <a href="{{ url_for('users.show', user_id=g.user.id) }}" class="button secondary has-icon">
                <i class="ri-arrow-left-line"></i>
                Back
            </a>
        </header>

        {% include "partials/messages.html" %}

        <form class="form d-flex editor-form flex-column wrap-620" action="{{ url_for('users.update_profile') }}" method="post" enctype="multipart/form-data">
            <fieldset>
                {{ avatar_upload(g.user) }}

                <div class="row d-flex">
                    <div class="d-flex flex-column">
                        <label class="label" for="first_name">First name</label>
                        <input class="input" name="first_name" id="first_name" autocomplete="fname" value="{{ g.user.first_name }}">
                    </div>
                    <div class="d-flex flex-column">
                        <label class="label" for="last_name">Last name</label>
                        <input class="input" name="last_name" id="last_name" autocomplete="lname" value="{{ g.user.last_name }}">
                    </div>
                </div>

                <label class="label" for="username">Username</label>
                <p>Please use characters A-Z, numbers, hyphens, underscores and periods.</p>
                <input class="input" name="username" id="username" value="{{ g.user.username }}" required pattern="[a-z0-9_\-\.]+">

                <label class="label" for="location">Location <span>(city/town/village)</span></label>
                <input class="input search location-typeahead" id="location" name="location" type="search" autocomplete="disabled" placeholder="Search..." value="{{ g.user.location or '' }}" title="Usernames can't contain spaces, and can only include letters, numbers, hyphens, underscores and periods">
                <div class="search-results"></div>

                <label class="label" for="twitter">Twitter handle</label>
                <input class="input" name="twitter" id="twitter" placeholder="e.g. @hackerstash" value="{{ g.user.twitter or '' }}">

                <label class="label" for="bio">Bio</label>
                {{ editor_light(g.user.bio or '', limit=240) }}

                <div class="button-group mt-3">
                    <button class="button" type="submit">Save changes</button>
                    <a class="button secondary" href="{{ url_for('users.show', user_id=g.user.id) }}">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = () => createEditor('.editor-form', { limit: true });
    </script>
{% endblock %}