{% extends 'layouts/app.html' %}
{% set title = 'HackerStash / Internal Server Error' %}

{% block body %}
    <div class="page">
        <div class="error-view">
            <header class="header">
                <h2 role="heading"><i class="icon ri-emotion-sad-line"></i>Internal Server Error</h2>
            </header>
            <p class="mt-3 mb-2">Whoops, looks like something went wrong! Please refresh the page or try again later.</p>
            <div class="button-group">
                <button onclick="location.reload()" class="button">Refresh</button>
                <button onclick="history.back()" class="button secondary">Go back</button>
            </div>
        </div>
    </div>
{% endblock %}