<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or 'HackerStash' }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    {% assets "scss_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <div class="hackerstash">
        {% include "partials/sidebar.html" %}
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </div>
    {% include "partials/footer.html" %}

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block scripts %}
    {% endblock %}
</body>
</html>