{% extends 'layouts/base.html' %}

{% block layout %}
    <div class="page admin dashboard">
        <header class="header">
            <div class="container">
                <a href="{{ url_for('admin.index') }}">
                    <img alt="HackerStash logo" src="/static/images/logo.svg">
                </a>
                <a class="back-to-app" href="{{ url_for('home.index') }}">
                    <i class="ri-arrow-left-line"></i>
                    Back to app
                </a>
            </div>
        </header>

        <div class="wrapper">
            <h3>Hello, {{ g.user.first_name }} {{ g.user.last_name }}</h3>

            <div class="tabs mt-2">
                <div class="tab-header">
                    <a href="{{ url_for('admin.index', tab='users') }}" class="button {{ 'active' if active_tab == 'users' }}">
                        Users
                        <span class="tag sm">{{ user_count or 0 }}</span>
                    </a>
                    <a href="{{ url_for('admin.index', tab='projects') }}" class="button {{ 'active' if active_tab == 'projects' }}">
                        Projects
                        <span class="tag sm">{{ project_count or 0 }}</span>
                    </a>
                </div>
                <div class="tab-body">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
