.follow-list {
    li {
      display: flex;
      list-style: none;

      a {
        color: $mauve-500;
        margin-bottom: .5rem;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .details {
        flex: 1;
      }
    }
}