.follow-list {
  padding: 0;

  li {
    align-items: center;
    border-bottom: 1px solid $darkblue-900;
    display: flex;
    list-style: none;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    a {
      color: $mauve-500;
      margin-bottom: .5rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .details {
      flex: 1;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.page.follow {
  .header {
    @include tablet-down {
      align-items: flex-start;
      flex-direction: column;

      .button {
        margin: 1rem 0 0 0;
        width: 100%;
      }
    }
  }
}