.page.user {
  .profile-bio {
    border-bottom: none;
    margin-bottom: 0;

    @include tablet-down {
      flex-direction: column;
    }

    .profile-details {
      align-items: center;

      h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      @include tablet-down  {
        display: block;
        width: 100%;

        h2 {
          float: right;
          margin-bottom: .25rem;
          width: calc(100% - 4.25rem);
        }
      }

      .username {
        align-self: flex-end;
        margin: 0 0 .5rem .75rem;

        @include tablet-down  {
          float: left;
          margin-left: .75rem;
        }
      }

      .log-out {
        align-self: flex-end;
        color: $blue-500;
        line-height: 20px;
        margin: 0 0 .5rem .75rem;
      }

      .avatar {
        @include tablet-down {
          float: left;
        }
      }
    }

    .profile-actions {
      flex-shrink: 0;
      margin-top: 0;

      .button {
        margin-left: 1rem;
      }

      @include tablet-down  {
        display: flex;
        flex-direction: column;
        width: 100%;

        .button {
          margin: 1rem 0 0 0;
        }
      }
    }
  }

  .profile-bio-text {
    max-width: 630px;
  }

  .profile-stats {
    .button {
      margin: 0 .75rem 0 0;

      span {
        color: $blue-500;
      }
    }

    p {
      align-items: center;
      display: flex;
      font-size: .875rem;
      margin: 0 .75rem 0 0;

      a {
        margin-right: .35rem;
      }

      i {
        font-size: .875rem;
        margin-right: .35rem;
      }
    }

    @include tablet-down  {
      display: block !important;

      p {
        margin-bottom: .5rem;
        width: 100%;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          display: inline-block;
          white-space: nowrap;
          width: auto;
        }
      }
    }
  }

  .project-card {
    background: $darkblue-700;
    border-radius: 1rem;
    max-width: 620px;
    padding: 2rem;

    .row {
      display: flex;

      aside {
        flex-shrink: 0;
        margin-right: 1rem;
        width: 2.75rem;

        i {
          font-size: 2rem;
          font-style: normal;
          line-height: 2rem;
        }
      }

      .arrow {
        i {
          vertical-align: bottom;
        }
      }

      div {
        h3 {
          align-items: center;
          display: flex;
          margin-bottom: 1.5rem;

          a {
            color: $mauve-500;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          p {
            color: $blue-500;
            margin: 0 0 0 1rem;
          }
        }

        p {
          margin-bottom: 2rem;
        }

        .markdown {
          display: block;
          margin-bottom: 2rem;
        }

        .details {
          align-items: center;
          display: flex;

          p {
            align-items: center;
            display: flex;
            margin: 0 1rem 0 0;

            span, .icon {
              color: $blue-500;
              margin-right: .25rem;
            }
          }
        }
      }
    }

    @include tablet-down {
      max-width: 100%;

      .row {
        aside {
          display: none;
        }

        > div {
          width: 100%;

          h3 {
            display: block;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .profile-tabs {
    border-top: 1px solid $darkblue-900;
    margin-top: 2rem;
    padding-top: 1rem;

    .comment-count {
      display: none;
    }

    .comments {
      li {
        border-bottom: 1px solid $darkblue-900;
        padding: 1rem;

        &:hover {
          background: $darkblue-700;
        }

        .comment {
          .details {
            p {
              .reply {
                display: none;
              }
            }
          }
        }
      }
    }

    .votes-list {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 1.5rem;
      }

      .date {
        color: $mauve-1000;
        margin-bottom: .25rem;
      }

      .vote-message,
      .score {
        align-items: center;
        display: flex;
      }

      .score {
        color: $red-500;
        margin: 0 .5rem 0 .25rem;

        i {
          color: $red-500;
        }

        &.positive {
          color: $green-500;

          i {
            color: $green-500;
          }
        }
      }

      .project-message {
        display: flex;

        .avatar {
          margin: 0 .5rem;
        }

        a {
          margin: 0 .25rem;
        }
      }

      a {
        color: $mauve-500;
      }
    }
  }
}

.follow-modal {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      align-items: center;
      display: flex;
  
      .details {
        align-items: center;
        display: flex;
        flex: 1;
  
        p {
          a {
            color: $mauve-900;
            text-decoration: none;
          }
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  footer {
    display: none;
  }
}