.page.admin.dashboard {
  .tournaments {
    .winner {
      display: inline-flex;
    }
  }

  .users-table {
    @include tablet-down {
      li {
        padding: 1rem;
      }
    }
  }

  .projects-table {
    .modal-open span {
      color: $blue-500;
      text-decoration: underline;
    }

    @include tablet-down {
      li {
        padding: 1rem;
      }
    }
  }

  .members-modal {
    ul {
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        border-bottom: 1px solid $darkblue-900;
        display: flex;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        a {
          color: $mauve-500;
          text-decoration: none;
        }

        &:last-of-type {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}