.page.home {
  padding-top: 320px;

  .header-banner {
    background-color: $blue-900;
    background-image: url('/static/images/map.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 450px;
    border-bottom: 2px solid $blue-500;
    height: 280px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

    .title {
      align-items: center;
      display: flex;
      height: 100%;
      margin: 0 auto;
      padding: 0 220px 0 330px;
      width: 1280px;
    }
  }

  .home-section {
    display: flex;

    .highlight {
      color: $blue-500;
    }

    &.what-is {
      .left {
        flex: 1;
      }

      .right {
        flex-shrink: 0;
        margin-left: 4rem;
        width: 418px;
      }

      .sign-up {
        background: $darkblue-700;
        border-radius: 1rem;
        padding: 2rem;

        .button-group {
          display: flex;

          .button {
            flex: 1;
          }
        }
      }
    }

    &.why {
      flex-direction: column;
      justify-content: center;

      h2 {
        text-align: center;
      }

      .accordion-wrapper {
        display: flex;
        margin: 4rem 0 7rem 0;

        .phone {
          margin-right: 5rem;
          width: 280px;

          img {
            display: none;
            width: 100%;

            &.active {
              display: block;
            }
          }
        }

        .accordion {
          align-items: center;
          display: flex;
          flex: 1;
          height: 560px;

          ul {
            margin: 0;
            padding: 0;

            li {
              border-top: 2px solid $darkblue-700;
              cursor: pointer;
              list-style: none;
              margin: 0;
              padding: 0 2rem;

              &:first-of-type {
                border-top: none;
              }

              .title {
                align-items: center;
                display: flex;
                height: 6rem;

                p {
                  color: $mauve-500;
                  font-weight: $font-weight-bold;
                  flex: 1;
                  margin: 0;
                }

                i {
                  color: $blue-500;
                  font-size: 2.25rem;
                  margin-right: 1rem;
                }

                .toggle {
                  color: $mauve-500;
                  font-size: 1.5rem;

                  &:hover {
                    color: $blue-500;
                  }

                  &.close {
                    display: none;
                  }
                }
              }

              .body {
                display: none;
                margin-top: -.5rem;
                padding: 0 1rem 0 3.25rem;
              }

              &.active {
                background: $darkblue-900;
                border-top: none;
                border-radius: 1rem;
                height: 240px;

                .body {
                  display: block;
                }

                .toggle {
                  &.add {
                    display: none;
                  }

                  &.close {
                    display: block;
                  }
                }

                + li {
                  border-top: none;
                }
              }
            }
          }
        }
      }

      .tournament {
        background: $darkblue-900;
        border: 2px solid $darkblue-600;
        border-radius: 1rem;
        margin: 0 auto;
        max-width: 630px;
        padding: 4rem 5rem;

        h2 {
          margin-bottom: 3.75rem;
        }

        b {
          color: $mauve-500;
        }

        .row {
          border-left: 2px solid $blue-500;
          padding: 0 0 3rem 4.5rem;
          position: relative;

          &:last-of-type {
            border-left: none;
            padding-bottom: 0;
          }

          .small {
            margin-bottom: 0;
          }

          .icon {
            align-items: center;
            background: $blue-900;
            border-radius: 50%;
            display: flex;
            height: 3rem;
            justify-content: center;
            left: -1.5rem;
            position: absolute;
            top: -1rem;
            width: 3rem;

            i {
              color: white;
            }
          }
        }
      }
    }

    &.started {
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .small {
        margin: 0 auto 1.5rem auto;
      }

      .video {
        background: $blue-500;
        border-radius: 1rem;
        height: 530px;
        margin-top: 4rem;
      }
    }
  }

  .thicc {
    height: 2px;
    margin: 5rem 0;
  }
}