$column-1: 5.5rem;
$column-2: 15rem;
$column-3: 10rem;
$column-5: 9.5rem;

.page.leaderboard {
  .header {
    border-bottom: none;
  }

  .leaderboard-header {
    border-bottom: 1px solid $darkblue-900;
    display: flex;

    p {
      color: $mauve-1000;
      font-weight: $font-weight-bold;
      margin: 0;
      padding: .75rem 1rem;

      &:nth-of-type(1) {
        width: $column-1;
      }

      &:nth-of-type(2) {
        width: $column-2;
      }

      &:nth-of-type(3) {
        width: $column-3;
      }

      &:nth-of-type(4) {
        flex: 1;
      }

      &:nth-of-type(5) {
        margin-right: 0;
        width: $column-5;
      }
    }
  }

  .leaderboard-results {
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      border-bottom: 1px solid $darkblue-900;
      display: flex;
      list-style: none;
      padding: .5rem 0;

      &:hover {
        background: $darkblue-700;
      }

      p {
        margin: 0;
        padding: .75rem 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:nth-of-type(1) {
          width: $column-1;
        }

        &:nth-of-type(2) {
          width: $column-2;

          a {
            color: $mauve-500;
            font-weight: $font-weight-bold;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:nth-of-type(3) {
          width: $column-3;
        }

        &:nth-of-type(4) {
          color: $mauve-1000;
          flex: 1;
        }

        &:nth-of-type(5) {
          margin-right: 0;
          width: $column-5;
          }
      }

      .position {
        span {
          align-items: center;
          background: $darkblue-900;
          border-radius: .25rem;
          display: flex;
          height: 2rem;
          justify-content: center;
          margin-right: 1.5rem;
          width: 2rem;
        }
      }
    }
  }
}