.page.leaderboard {
  .project {
    a {
      color: $mauve-500;
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .table .table-body li p:last-of-type {
    overflow: visible;
    text-align: end;
    text-overflow: clip;

    @include tablet-down {
      text-align: left;
    }
  }

  .score {
    color: $mauve-1000;
  }

  @include tablet-up {
    .header {
      border-bottom: none;
    }
  }

  @include tablet-down {
    .table-body {
      p {
        &.col-2 {
          margin-bottom: 0;
        }

        &:empty {
          display: none;
        }

        .prize {
          margin-top: 1rem;
        }
      }
    }
  }
}