.page.login {
  .email {
    display: flex;
    flex-direction: column;
  }

  .check-inbox {
    color: $mauve-500;
    font-size: 16px;
    margin: 1rem 0 2rem 0;

    i {
      color: $blue-500;
    }

    @include tablet-down {
      font-size: 14px;
    }
  }
}