.page.notifications {
  .notification-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 1rem;
      font-weight: $font-weight-normal;
    }
  }

  .notification-list {
    margin: 0;
    padding: 0;

    li {
      align-items: flex-start;
      background: $darkblue-700;
      border: 2px solid transparent;
      border-radius: .5rem;
      display: flex;
      list-style: none;
      margin-bottom: .5rem;
      min-height: 84px;
      padding: 1rem;

      &:hover {
        border-color: $blue-500;
      }

      a {
        color: $mauve-500;
      }
      
      .details {
        flex: 1;
      }

      .notification-message {
        padding-left: 2rem;
        position: relative;

        &:empty {
          display: none;
        }
      }

      .avatar {
        display: inline-flex;
        left: 0;
        margin: 0 .5rem 0 0;
        position: absolute;
        top: 0;
      }

      .small {
         margin-left: 2rem;
      }

      .action {
        align-items: center;
        align-self: center;
        background: none;
        border: none;
        display: flex;
        height: 2rem;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 2rem;

        i {
          color: $mauve-500;
        }

        &:hover {
          background: $darkblue-800;
        }
      }
    }
  }

  .prize-notification {
    display: flex;

    span {
      display: block;
    }

    .trophy {
      margin: .25rem .5rem 0 0;
      width: 1.5rem;
    }
  }
}