.page.past-results {
  header {
    border-bottom: none;

    span {
      font-size: 1rem;
      font-weight: $font-weight-normal;
    }
  }

  &.result {
    header {
      border-bottom: 1px solid $darkblue-900;
    }
  }
}