.page.past-results {
  header {
    border-bottom: none;

    span {
      font-size: 1rem;
      font-weight: $font-weight-normal;
    }

    @include tablet-down {
      span {
        display: block;
        font-size: 14px;
      }
    }
  }

  .message {
    margin: 3rem 0 2rem 0;
  }

  &.result {
    header {
      border-bottom: 1px solid $darkblue-900;
    }
  }

  .project {
    a {
      color: $mauve-500;
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .winner {
    align-items: center;
    display: flex;

    .avatar {
      margin-right: .75rem;
    }

    a {
      color: $mauve-500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .year,
  .tournament {
    color: $mauve-500;
  }

  .score {
    color: $mauve-1000;
  }

  @include tablet-down {
    .message {
      align-items: flex-start;
      margin: 2rem 0;
    }

    .tournament {
      align-items: center;
      background: $darkblue-900;
      border-radius: .25rem;
      display: flex;
      height: 2rem;
      justify-content: center;
      margin-right: 1.5rem;
      width: 2rem;
    }

    .year {
      display: none;
    }

    .winner {
      .avatar {
        display: none;
      }

      a {
        font-weight: $font-weight-bold;
      }
    }
  }
}