.page.goals.review {
  .details {
    span {
      color: $blue-500;

      &.tz {
        color: $mauve-1000;
      }
    }
  }

  .review-container {
    display: flex;

    .left {
      margin: 0;
      padding: 0;
      width: 300px;

      li {
        display: flex;
        height: 76px;
        list-style: none;
        margin-bottom: .5rem;

        &:focus {
          outline: none;
        }

        .position {
          align-items: center;
          border-bottom: 1px solid $gray-900;
          display: flex;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 2rem;

          span {
            flex-shrink: 0;
            margin-right: 0;
          }
        }

        .card {
          align-items: center;
          background: $gray-700;
          border: 2px solid transparent;
          border-radius: .5rem;
          cursor: pointer;
          display: flex;
          padding: 1rem;
          width: 252px;

          .grab {
            cursor: grab;
            display: grid;
            grid-gap: .25rem;
            grid-template-columns: repeat(auto-fill, minmax(.25rem, 1fr));
            margin-right: 1rem;
            width: 1rem;

            span {
              background: $mauve-1000;
              border-radius: 50%;
              display: block;
              height: .25rem;
              width: .25rem;
            }
          }

          .indicator {
            border: 2px solid $blue-500;
            border-bottom-width: 0;
            border-left-width: 0;
            border-radius: .5rem;
            content: ' ';
            display: none;
            height: 58px;
            position: absolute;
            right: -22px;
            top: 7px;
            transform: rotate(45deg);
            width: 58px;
            z-index: 0;
          }

          &:hover {
            background: $gray-800;
            border-color: $mauve-900;
          }
        }

        &.active {
          .card {
            background: $gray-800;
            border-color: $blue-500;
            border-right-width: 0;
            position: relative;
          }

          .indicator {
            display: block;
          }
        }

        &.draggable-mirror {
          .card {
            background: $gray-800;
            border-color: $blue-500;
            transform: rotate(-5deg);
          }

          .position {
            opacity: 0;
          }
        }

        &:last-of-type {
          .position {
             border-bottom: none;
          }
        }
      }
    }

    .right {
      flex: 1;
      margin-left: 2rem;

      .review-body {
        background: $gray-900;
        border-radius: .5rem;
        padding: 2rem;
        width: 100%;

        .title-container {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .title {
            align-items: center;
            display: flex;
          }

          .button {
            background: transparent;

            i {
              color: $blue-500 !important;
              font-size: 1.5rem;
            }
          }
        }

        .divider {
          background: $gray-600;
        }

        .goal {
          margin-bottom: 3rem;

          &:last-of-type {
            margin-bottom: 0;
          }

          .goal-title {
            i {
              font-size: 1.25rem;
              margin-right: .5rem;
              vertical-align: middle;

              &.completed {
                color: $blue-500;
              }

              &.failed {
                color: $red-500;
              }
            }
          }

          .goal-body {
            .no-evidence {
              color: $mauve-1000;
            }
          }
        }
      }
    }
  }
}