{% extends 'base_app.html' %}
{% set title = 'HackerStash / User not found' %}

{% block body %}
    <div class="page user">
        <div class="error-view">
            <header class="header">
                <h2><i class="icon ri-error-warning-line"></i>User Not Found</h2>
            </header>
            <p class="mt-3 mb-2">The user you are looking for may longer exist.</p>
            <div class="button-group">
                <a class="button" href="{{ url_for('leaderboard.index') }}">Leaderboard</a>
                <button onclick="history.back()" class="button secondary">Go back</button>
            </div>
        </div>
    </div>
{% endblock %}