{% extends 'base_simple.html' %}
{% set title = 'HackerStash / Create User' %}

{% from "partials/avatar.html" import avatar_upload %}

{% block body %}
    <div class="pages new-user">
        <form action="{{ url_for('users.create') }}" method="post" class="form new-user" enctype="multipart/form-data">
            <fieldset>
                <img class="mb-1" src="/static/images/logo.svg">
                <h1>Welcome to HackerStash</h1>
                <hr class="divider mt-2 mb-2">
                <p class="mb-2">To log in and get started using HackerStash, please complete the basic profile information below.</p>

                {% include "partials/messages.html" %}

                <label class="label label mb-1-5 d-block">Profile image</label>
                {{ avatar_upload(g.user) }}

                <div class="row d-flex">
                    <div class="d-flex flex-column">
                        <label class="label" for="first_name">First name</label>
                        <input class="input" name="first_name" id="first_name" autocomplete="fname" value="{{ g.user.first_name or '' }}" required>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="label" for="last_name">Last name</label>
                        <input class="input" name="last_name" id="last_name" autocomplete="lname" value="{{ g.user.last_name or '' }}" required>
                    </div>
                </div>
                <label class="label" for="username">Username</label>
                <p>Please use characters A-Z, numbers, hyphens, underscores and periods.</p>
                <div class="username">
                    <input class="input" name="username" id="username" required pattern="[a-z0-9_\-\.]+" title="Usernames can't contain spaces, and can only include letters, numbers, hyphens, underscores and periods">
                </div>
                <hr class="divider mt-4 mb-2">
                <div class="button-group">
                    <button class="button" type="submit">Save and continue</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}