{% extends 'base_app.html' %}
{% set title = 'HackerStash / User' %}

{% from "partials/avatar.html" import avatar %}
{% from "partials/comments.html" import flat_comments %}
{% from "partials/posts.html" import posts %}
{% from "partials/votes.html" import votes %}
{% from "partials/project_card.html" import project_card %}

{% set is_self = g.user and g.user.id == user.id %}
{% set active_tab = request.args.tab or 'posts' %}

{% block body %}
    <div class="page user">
        <header class="header profile-bio">
            <div class="profile-details d-flex">
                {{ avatar(user) }}
                <h2 role="heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="username">@{{ user.username }}</p>
                {% if is_self %}
                    <a class="small log-out" href="{{ url_for('auth.signout') }}">Log out</a>
                {% endif %}
            </div>
            <div class="profile-actions">
                {% if is_self %}
                    <a href="{{ url_for('users.edit_settings') }}" class="button secondary">Settings</a>
                    <a href="{{ url_for('users.edit_profile') }}" class="button secondary">Edit Profile</a>
                {% else %}
                    {% if g.user %}
                        <a href="{{ url_for('users.follow', user_id=user.id) }}" class="button {{ 'secondary' if g.user.is_following(user) }}">
                            {{ 'Unfollow' if g.user.is_following(user) else 'Follow' }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </header>
        <div class="profile-stats d-flex">
            {% if user.admin %}
                <p class="admin"><i class="icon ri-star-s-fill"></i> HackerStash Admin</p>
            {% endif %}
            <a href="{{ url_for('users.followers', user_id=user.id) }}" class="button link small"><span>{{ user.followers | length }}</span> followers</a>
            <a href="{{ url_for('users.following', user_id=user.id) }}" class="button link small"><span>{{ user.following | length }}</span> following</a>
            {% if user.location %}
                <p>
                    <i class="icon ri-map-pin-2-line"></i>
                    {{ user.location }}
                </p>
            {% endif %}
        </div>

        <div class="profile-bio-text mt-2 mb-2 wrap-620">
            <div class="rich-text">
                {{ user.bio | to_safe_html | safe }}
            </div>
        </div>

        {% include "partials/messages.html" %}

        {{ project_card(user) }}

        <div class="tabs profile-tabs">
            <div class="tab-header">
                <a href="?tab=posts" class="button {{ 'active' if active_tab == 'posts' }}">Posts</a>
                <a href="?tab=comments" class="button {{ 'active' if active_tab == 'comments' }}">Comments</a>
                <a href="?tab=votes" class="button {{ 'active' if active_tab == 'votes' }}">Voting history</a>
            </div>
            <div class="tab-body">
                <div class="tab {{ 'active' if active_tab == 'posts' }}">
                    {% if active_tab == 'posts' %}
                        {{ posts(user.posts) }}
                    {% endif %}
                </div>
                <div class="tab {{ 'active' if active_tab == 'comments' }}">
                    {% if active_tab == 'comments' %}
                        {{ flat_comments(user.comments) }}
                    {% endif %}
                </div>
                <div class="tab {{ 'active' if active_tab == 'votes' }}">
                    {% if active_tab == 'votes' %}
                        <p class="wrap-620 mb-2-5">Record of points @{{ user.username }} has awarded to projects, posts and comments of competitors</p>
                        {{ votes(user.votes) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}