{% extends 'layouts/app.html' %}
{% set title = 'HackerStash / Weekly Challenges' %}

{% block body %}
    <div class="page challenges">
        <header class="header">
            <h2 role="heading">Weekly Challenges</h2>
        </header>

        <div class="split">
            <div class="left">
                <ul class="challenge-lists">
                    <li tabindex="0" class="{{ 'completed' if challenge_status.published_a_post.complete }}">
                        <p class="description">
                            <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            <span class="text">Publish a post</span>
                        </p>
                        <p class="points">
                            {{ challenge_status.published_a_post.points }} points
                        </p>
                    </li>
                    <li tabindex="0" class="{{ 'completed' if challenge_status.comment_on_a_competitors_post.complete }}">
                        <p class="description">
                            <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            <span class="text">Comment on a competitors post</span>
                        </p>
                        <p class="points">
                            {{ challenge_status.comment_on_a_competitors_post.points }} points
                        </p>
                    </li>
                    <li tabindex="0" class="{{ 'completed' if challenge_status.award_points_to_three_posts.complete }}">
                        <p class="description">
                            {% if challenge_status.award_points_to_three_posts.complete %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.award_points_to_three_posts.count }}/{{ challenge_status.award_points_to_three_posts.max }}</span>
                            {% endif %}
                            <span class="text">Award points to 3 competitors posts</span>
                        </p>
                        <p class="points">
                            {{ challenge_status.award_points_to_three_posts.points }} points
                        </p>
                    </li>
                    <li tabindex="0" class="{{ 'completed' if challenge_status.award_ponts_to_three_projects.complete }}">
                        <p class="description">
                            {% if challenge_status.award_ponts_to_three_projects.complete %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.award_ponts_to_three_projects.count }}/{{ challenge_status.award_ponts_to_three_projects.max }}</span>
                            {% endif %}
                            <span class="text">Award points to 3 projects</span>
                        </p>
                        <p class="points">
                            {{ challenge_status.award_ponts_to_three_projects.points }} points
                        </p>
                    </li>
                    <li tabindex="0" class="{{ 'completed' if challenge_status.comment_on_five_competitors_posts.complete }}">
                        <p class="description">
                            {% if challenge_status.comment_on_five_competitors_posts.complete %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.comment_on_five_competitors_posts.count }}/{{ challenge_status.comment_on_five_competitors_posts.max }}</span>
                            {% endif %}
                            <span class="text">Comment on 5 competitors posts</span>
                        </p>
                        <p class="points">
                            {{ challenge_status.comment_on_five_competitors_posts.points }} points
                        </p>
                    </li>
                    <li tabindex="0" class="{{ 'completed' if challenge_status.earn_twenty_five_points_for_one_post.complete }}">
                        <p class="description">
                            <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            <span class="text">Earn 25 points for one post</span>
                        </p>
                        <p class="points">
                            {{ challenge_status.earn_twenty_five_points_for_one_post.points }} points
                        </p>
                    </li>
                    <li tabindex="0" class="{{ 'completed' if challenge_status.have_five_comments_upvoted.complete }}">
                        <p class="description">
                            {% if challenge_status.have_five_comments_upvoted.complete %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.have_five_comments_upvoted.count }}/{{ challenge_status.have_five_comments_upvoted.max }}</span>
                            {% endif %}
                            <span class="text">Have 5 of your comments upvoted by competitors</span>
                        </p>
                        <p class="points">
                            {{ challenge_status.have_five_comments_upvoted.points }} points
                        </p>
                    </li>
                    <li tabindex="0" class="{{ 'completed' if challenge_status.earn_twenty_five_points_for_three_seperate_posts.complete }}">
                        <p class="description">
                            {% if challenge_status.earn_twenty_five_points_for_three_seperate_posts.complete %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.earn_twenty_five_points_for_three_seperate_posts.count }}/{{ challenge_status.earn_twenty_five_points_for_three_seperate_posts.max }}</span>
                            {% endif %}
                            <span class="text">Earn at least 25 points for 3 seperate {{ g.user.project.name }} posts</span>
                        </p>
                        <p class="points">
                            {{ challenge_status.earn_twenty_five_points_for_three_seperate_posts.points }} points
                        </p>
                    </li>
                </ul>
            </div>
            <aside class="right" role="complementary" aria-label="Tips for completing weekly challenges on HackerStash">
                <p><b>💡 Tips</b></p>
                <ul>
                    <li>When you complete a weekly challenge the available points are added to your projects score for the current tournament.</li>
                    <li>If you have team members as part of HackerStash, all of your activity contributes towards achieving the weekly challenges.</li>
                    <li>Challenges reset each week.</li>
                    <li>Challenges are designed to help you get the most out of the community. Aim to learn from your peers, share your knowledge, share your wins or losses.</li>
                </ul>
            </aside>
        </div>
    </div>
{% endblock %}