{% extends 'base_app.html' %}
{% set title = 'HackerStash / Weekly Challenges' %}

{% block body %}
    <div class="page challenges">
        <header class="header">
            <h2>Weekly Challenges</h2>
        </header>

        <div class="split">
            <div class="left">
                <ul class="challenge-lists">
                    <li class="{{ 'completed' if challenge_status.published_a_post > 0 }}">
                        <p class="description">
                            <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            <span class="text">Publish a post</span>
                        </p>
                        <p class="points">
                            10 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.comment_on_a_competitors_post > 0 }}">
                        <p class="description">
                            <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            <span class="text">Comment on a competitors post</span>
                        </p>
                        <p class="points">
                            5 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.award_points_to_three_projects >= 3 }}">
                        <p class="description">
                            <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            <span class="text">Award points to 3 projects</span>
                        </p>
                        <p class="points">
                            15 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.award_points_to_three_posts >= 3 }}">
                        <p class="description">
                            {% if challenge_status.award_points_to_three_posts >= 3 %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.award_points_to_three_posts }}/3</span>
                            {% endif %}
                            <span class="text">Award points to 3 competitors posts</span>
                        </p>
                        <p class="points">
                            9 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.award_points_to_ten_projects >= 10 }}">
                        <p class="description">
                            {% if challenge_status.award_points_to_ten_projects >= 10 %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.award_points_to_ten_projects }}/10</span>
                            {% endif %}
                            <span class="text">Award points to 10 projects</span>
                        </p>
                        <p class="points">
                            35 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.award_points_to_ten_posts >= 10 }}">
                        <p class="description">
                            {% if challenge_status.award_points_to_ten_posts >= 10 %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.award_points_to_ten_posts }}/10</span>
                            {% endif %}
                            <span class="text">Award points to 10 competitors posts</span>
                        </p>
                        <p class="points">
                            35 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.comment_on_five_competitors_posts >= 5 }}">
                        <p class="description">
                            {% if challenge_status.comment_on_five_competitors_posts >= 5 %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.comment_on_five_competitors_posts }}/5</span>
                            {% endif %}
                            <span class="text">Comment on 5 competitors posts</span>
                        </p>
                        <p class="points">
                            20 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.five_day_post_streak >= 5 }}">
                        <p class="description">
                            {% if challenge_status.five_day_post_streak >= 5 %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.five_day_post_streak }}/5</span>
                            {% endif %}
                            <span class="text">Publish at least 1 new {{ g.user.member.project.name }} post a day for 5 days</span>
                        </p>
                        <p class="points">
                            20 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.earn_five_points_for_one_post > 0 }}">
                        <p class="description">
                            <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            <span class="text">Earn 5 points for one post</span>
                        </p>
                        <p class="points">
                            10 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.have_five_comments_upvoted >= 5 }}">
                        <p class="description">
                            {% if challenge_status.have_five_comments_upvoted >= 5 %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.have_five_comments_upvoted }}/5</span>
                            {% endif %}
                            <span class="text">Have 5 of your comments upvoted by competitors</span>
                        </p>
                        <p class="points">
                            15 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.earn_five_points_for_three_seperate_posts >= 3 }}">
                        <p class="description">
                            {% if challenge_status.earn_five_points_for_three_seperate_posts >= 3 %}
                                <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            {% else %}
                                <span class="icon">{{ challenge_status.earn_five_points_for_three_seperate_posts }}/5</span>
                            {% endif %}
                            <span class="text">Earn at least 5 points for 3 seperate {{ g.user.member.project.name }} posts</span>
                        </p>
                        <p class="points">
                            20 points
                        </p>
                    </li>
                    <li class="{{ 'completed' if challenge_status.award_one_hundred_points >= 100 }}">
                        <p class="description">
                            <span class="icon"><i class="ri-checkbox-circle-line"></i></span>
                            <span class="text">Award 100 points to other competitors</span>
                        </p>
                        <p class="points">
                            25 points
                        </p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <p><b>💡 Tips</b></p>
                <ul>
                    <li>When you complete a weekly challenge the available points are added to your projects score for the current tournament.</li>
                    <li>If you have team members as part of HackerStash, all of your activity contributes towards achieving the weekly challenges.</li>
                    <li>Challenges reset each week.</li>
                    <li>Challenges are designed to help you get the most out of the community. Aim to learn from your peers, share your knowledge, share your wins or losses.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}