{% extends 'base_app.html' %}
{% set title = 'HackerStash / Weekly Challenges' %}

{% block body %}
    <div class="page challenges">
        <header class="header">
            <h2>Weekly Challenges</h2>
        </header>

        <div class="split">
            <div class="left">
                <ul class="challenge-lists">
                    <li>
                        <p class="description">
                            <span><i class="ri-checkbox-circle-line"></i></span>
                            Publish a post
                        </p>
                        <p class="points">
                            10 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span><i class="ri-checkbox-circle-line"></i></span>
                            Comment on a competitors post
                        </p>
                        <p class="points">
                            5 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span><i class="ri-checkbox-circle-line"></i></span>
                            Award points to 3 projects
                        </p>
                        <p class="points">
                            15 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span>0/3</span>
                            Award points to 3 competitors posts
                        </p>
                        <p class="points">
                            9 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span>0/10</span>
                            Award points to 10 projects
                        </p>
                        <p class="points">
                            35 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span>0/10</span>
                            Award points to 10 competitors posts
                        </p>
                        <p class="points">
                            35 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span>0/5</span>
                            Comment on 5 competitors posts
                        </p>
                        <p class="points">
                            20 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span>0/5</span>
                            Publish at least 1 new {{ g.user.member.project.name }} post a day for 5 days
                        </p>
                        <p class="points">
                            20 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span><i class="ri-checkbox-circle-line"></i></span>
                            Earn 5 points for one post
                        </p>
                        <p class="points">
                            10 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span>0/5</span>
                            Have 5 of your comments upvoted by competitors
                        </p>
                        <p class="points">
                            15 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span>0/5</span>
                            Earn at least 5 points for 3 seperate {{ g.user.member.project.name }} posts
                        </p>
                        <p class="points">
                            20 points
                        </p>
                    </li>
                    <li>
                        <p class="description">
                            <span><i class="ri-checkbox-circle-line"></i></span>
                            Award 100 points to other competitors
                        </p>
                        <p class="points">
                            25 points
                        </p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <p><b>💡 Tips</b></p>
                <ul>
                    <li>When you complete a weekly challenge the available points are added to your projects score for the current tournament.</li>
                    <li>If you have team members as part of HackerStash, all of your activity contributes towards achieving the weekly challenges.</li>
                    <li>Challenges reset each week.</li>
                    <li>Challenges are designed to help you get the most out of the community. Aim to learn from your peers, share your knowledge, share your wins or losses.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}