{% extends 'layouts/app.html' %}
{% set title = 'HackerStash / Goals / Review' %}

{% from "partials/avatar.html" import avatar %}
{% from "partials/editor.html" import editor_light %}

{% block body %}
    <div class="page goals review">
        <header class="header mb-3">
            <div class="goal-badge tracking review">
                <i class="ri-sort-asc"></i>
            </div>
            <h2 role="heading">Review Community Progress</h2>
        </header>

        <div class="details mb-3">
            <p class="wrap-745">Review the project updates below and re-order them, putting the most impressive at the top, and least at the bottom. You can see the points awarded to each place <a href="#TODO">here</a>.</p>
            <p class="wrap-745">You should leave a small piece of feedback beneath each progress update, with a maximum of 560 characters.</p>
            <p class="wrap-745">You can save your reviews at any time, and whichever order you have established by Monday 10:00 <span class="tz">(GMT)</span> will be submitted. If you don’t leave feedback for the peers you are reviewing your review will not be submitted. By reviewing your peers you will earn <span>25 points</span> for your project.</p>
        </div>

        {% if project.reviews_to_give %}
            <form class="form" method="post" action="{{ url_for(request.endpoint) }}">
                <fieldset>
                    <div class="review-container">
                        <ul class="left sortable-list">
                            {% for review in project.reviews_to_give %}
                                {% set index = review.position + 1 if review.position else loop.index %}

                                <li class="{{ 'active' if index == 1 }}" data-project-id="{{ review.reviewee.id }}">
                                    <div class="position">
                                        <span>{{ index }}</span>
                                    </div>
                                    <div class="card" data-project-id="{{ review.reviewee.id }}">
                                        <div class="grab">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        {{ avatar(review.reviewee, size='md') }}
                                        <p class="mb-0 truncate">{{ review.reviewee.name }}</p>
                                        <div class="indicator"></div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="right">
                            {% for review in project.reviews_to_give %}
                                {% set index = review.position + 1 if review.position else loop.index %}

                                <div class="review-body {{ 'd-none' if index != 1 }}" id="{{ review.reviewee.id }}">
                                    <div class="title-container">
                                        <div class="title">
                                            {{ avatar(review.reviewee, size='md') }}
                                            <h3>{{ review.reviewee.name }}</h3>
                                        </div>
                                        <a href="{{ review.reviewee.url if review.reviewee.url.startswith('http') else '//' + review.reviewee.url }}" target="_blank" rel="noreferrer nofollow" class="button secondary has-icon view-website"><i class="ri-global-line"></i> Website</a>
                                    </div>
                                    <div class="rich-text mt-1-5">
                                        {{ review.reviewee.description | to_safe_html | safe }}
                                    </div>

                                    <hr class="divider mt-1-5 mb-3">

                                    {% for goal in review.reviewee.active_goals %}
                                        <div class="goal">
                                            <h4 class="goal-title">
                                                {% if goal.completed %}
                                                    <i class="completed ri-check-line"></i>
                                                {% else %}
                                                    <i class="failed ri-close-line"></i>
                                                {% endif %}

                                                {{ goal.name }}
                                            </h4>
                                            <p class="goal-body">
                                                {% if goal.evidence %}
                                                    <div class="rich-text">
                                                        {{ goal.evidence | to_safe_html | safe }}
                                                    </div>
                                                {% else %}
                                                    <p class="mb-0 small no-evidence">
                                                        <i>No further information provided.</i>
                                                    </p>
                                                {% endif %}
                                            </p>
                                        </div>
                                    {% endfor %}

                                    <hr class="divider mt-2 mb-2">

                                    <label class="label" for="project-{{ review.id }}-feedback">Your feedback for Codefree</label>
                                    <textarea class="input textarea mb-0" rows="3" id="project-{{ review.id }}-feedback" name="project-{{ review.id }}-feedback">{{ review.feedback or '' }}</textarea>
                                    <input type="hidden" class="position-number" name="project-{{ review.id }}-position" value="{{ index - 1 }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <hr class="divider mt-3 mb-1-5">

                    <div class="button-group">
                        <button type="submit" class="button">Save Reviews</button>
                        <a class="button secondary" href="{{ url_for('projects.show', project_id=project.id) }}">Cancel</a>
                    </div>
                </fieldset>
            </form>
        {% else %}
            <div class="wrap-745 mt-4">
                {% include "partials/no_results.html" %}
            </div>
        {% endif %}
    </div>
{% endblock %}