{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import user_preview %}
{% from "partials/vote.html" import comment_vote %}

{% macro comments(list, nest=false) %}
    <ul class="comments">
        {% for comment in list | nest_comments(nest) %}
            <li id="{{ comment.id }}">
                {% if comment.children %}
                    <button class="button link collapse"><span></span></button>
                {% endif %}

                <div class="comment wrap-620">
                    {{ comment_vote('x-sm', comment) }}
                    <div class="details ml-1">
                        <span class="post inline">{{ comment.body | to_safe_html | safe }}</span>
                        <p class="small mt-0-5">
                            {{ avatar(comment.user, 'xx-sm') }}
                            {{ user_preview(comment.user) }}
                            <span class="seperator">•</span>
                            <span>{{ comment.created_at | to_human_date }}</span>

                            {% if g.user %}
                                <span class="seperator reply split">•</span>
                                <span class="reply add-reply">
                                    <i class="icon ri-reply-line"></i>
                                    <button class="button link small" data-id="{{ comment.id }}">Reply</button>
                                </span>
                            {% endif %}

                            {% if comment.children %}
                                <span class="seperator reply">&bull;</span>
                                <span class="collapse-comments">
                                    <button class="button link small hide">Collapse replies</button>
                                    <button class="button link small show">Show replies</button>
                                    <span class="show">[{{ comment.children | flatten_comments | length }}]</span>
                                </span>
                            {% endif %}
                        </p>
                    </div>
                </div>

                {% if comment.children %}
                    {{ comments(comment.children) }}
                {% endif %}
            </li>
        {% else %}
            <li class="wrap-620">
                {% include "partials/no_results.html" %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}