{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import user_preview %}
{% from "partials/vote.html" import comment_vote %}

{% macro nested_comments(list, nest=false) %}
    <ul class="comments">
        {% for comment in list | nest_comments(nest) %}
            <li id="{{ comment.id }}" role="comment" data-author="{{ comment.user.first_name }} {{ comment.user.last_name }}">
                {% if comment.children %}
                    <button aria-label="Collapse comments" class="button link collapse"><span></span></button>
                {% endif %}

                <div class="comment wrap-620">
                    <div class="comment-votes comment-votes-{{ comment.id }}">
                        {{ comment_vote('x-sm', comment) }}
                    </div>
                    <div class="details ml-1">
                        <span class="rich_text inline">{{ comment.body | to_safe_html | safe }}</span>
                        <p class="small mt-0-5">
                            {{ avatar(comment.user, 'xx-sm') }}
                            {{ user_preview(comment.user) }}
                            <span class="seperator">•</span>
                            <span>{{ comment.created_at | to_human_date }}</span>

                            {% if g.user %}
                                <span class="seperator reply split">•</span>
                                <span class="reply add-reply">
                                    <i class="icon ri-reply-line"></i>
                                    <button aria-label="Reply to comment" class="button link small" data-id="{{ comment.id }}">Reply</button>
                                </span>

                                {% if g.user.id == comment.user.id %}
                                    <span class="seperator reply">•</span>
                                    <a aria-label="Delete comment" href="{{ url_for('posts.delete_comment', post_id=comment.post.id, comment_id=comment.id) }}" class="button link small delete-comment">Delete</a>
                                {% endif %}
                            {% endif %}

                            {% if comment.children %}
                                <span class="seperator reply">&bull;</span>
                                <span class="collapse-comments">
                                    <button aria-label="Collapse comments" class="button link small hide">Collapse replies</button>
                                    <button aria-label="Show comment replies" class="button link small show">Show replies</button>
                                    <span class="show">[{{ comment.children | flatten_comments | length }}]</span>
                                </span>
                            {% endif %}
                        </p>
                    </div>
                </div>

                {% if comment.children %}
                    {{ nested_comments(comment.children) }}
                {% endif %}
            </li>
        {% else %}
            <li class="wrap-620">
                {% include "partials/no_results.html" %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro flat_comments(list) %}
    <ul class="comments flat">
        {% for comment in list %}
            <li>
                <p class="small date">• {{ comment.created_at | to_nice_date }}</p>
                {% if comment.parent_comment_id %}
                    <p class="reply"><a href="{{ url_for('posts.show', post_id=comment.post.id) }}#{{ comment.parent_comment_id }}">Replied</a> to a <a href="{{ url_for('posts.show', post_id=comment.post.id) }}#{{ comment.id }}">comment</a> on the post <a href="{{ url_for('posts.show', post_id=comment.post.id) }}">{{ comment.post.title }}</a></p>
                {% else %}
                    <p class="reply"><a href="{{ url_for('posts.show', post_id=comment.post.id) }}#{{ comment.id }}">Commented</a> on the post <a href="{{ url_for('posts.show', post_id=comment.post.id) }}">{{ comment.post.title }}</a></p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}