{% set completed_challenge = g.user and g.user.recent_completed_challenge %}

{% if completed_challenge %}
    <div class="challenge-completed">
         <i aria-label="Close confetti overlay" role="button" class="ri-close-line close" onclick="partysOver();"></i>
        <h3><i class="ri-checkbox-circle-line"></i>Challenge Complete!</h3>
        <p>{{ completed_challenge | safe }}</p>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js"></script>

    <script type="text/javascript">
        itsPartyTime();
    </script>
{% endif %}

