{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import user_preview %}

{% macro follows(users) %}
    <ul class="follow-list mt-3">
        {% for user in users %}
            {% set is_self = g.user and g.user.id == user.id %}

            <li>
                {{ avatar(user) }}
                <div class="details">
                    <h4>{{ user_preview(user) }}</h4>
                    <p class="small mb-0">@{{ user.username }}</p>
                </div>
                {% if not is_self and g.user %}
                    <a aria-label="{{ 'Unfollow' if g.user.is_following(user) else 'Follow' }} {{ user.first_name }}" href="{{ url_for('users.follow', user_id=user.id) }}" class="button {{ 'secondary' if g.user.is_following(user) }}">
                        {{ 'Unfollow' if g.user.is_following(user) else 'Follow' }}
                    </a>
                {% endif %}
            </li>
        {% else %}
            {% include "partials/no_results.html" %}
        {% endfor %}
    </ul>
{% endmacro %}