<footer class="footer">
    <nav class="container w-100" aria-label="Footer links">
        <p class="small">© HackerStash, 2020</p>
        <p class="small">
            <a aria-label="View the terms page" href="{{ url_for('legal.terms') }}">Terms</a>
            <span class="seperator"></span>
            <a aria-label="View the privacy page" href="{{ url_for('legal.privacy') }}">Privacy</a>
            <span class="seperator"></span>
            <a aria-label="View the changelog" href="{{ url_for('home.changelog') }}">Changelog</a>
            <span class="seperator"></span>
            <a aria-label="View the contact page" href="{{ url_for('contact.index') }}">Contact Us</a>
            <span class="seperator"></span>
            <a aria-label="View the HackerStash twitter page" class="twitter" href="https://twitter.com/HackerStash" target="_blank"><i class="ri-twitter-fill"></i></a>
        </p>
    </nav>
</footer>
