{% macro groups(list) %}
    <ul class="groups groups-list" role="list">
        {% for tag, count in list %}
            <li role="listitem">
                {% if tag %}
                    <a href="{{ url_for('posts.tags', tag_id=tag.id) }}">
                        {{ badge(tag) }}
                        <div class="details">
                            <p><b>{{ tag.name }}</b> <span>{{ count }} post{{ 's' if count > 1 }}</span></p>
                            <p class="wrap-745">{{ tag.description }}</p>
                        </div>
                    </a>
                {% else %}
                    <p>Hmm</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro badge(tag) %}
    <div class="group-badge" style="background: {{ tag.background_color }}">
        <i style="color: {{ tag.icon_color }}" class="{{ tag.icon }}"></i>
    </div>
{% endmacro %}