{% macro pagination(data) %}
    {% if data and data.pages > 1 %}
        <ul class="pagination" role="navigation" aria-label="Pagination">
            <li class="{{ 'disabled' if not data.has_prev }}">
                <a aria-label="View previous page" aria-disabled="{{ 'false' if data.has_next else 'true' }}" href="{{ data.prev_num | paginate_to_page }}" class="button">
                    <i class="ri-arrow-left-line"></i>
                </a>
            </li>

            {% for page in data.iter_pages() %}
                <li class="page d-none-small {{ 'active' if page == data.page }}">
                    {% if page %}
                        <a aria-label="View page {{ page }}" href="{{ page | paginate_to_page }}" class="button">
                            {{ page }}
                        </a>
                    {% else %}
                        <span>...</span>
                    {% endif %}
                </li>
            {% endfor %}

            <div class="select d-none-large mb-0">
                <select aria-label="Select page" onchange="paginate(event)">
                    {% for page in data.iter_pages() %}
                        {% if page %}
                            <option {{ 'selected' if page == data.page }} value="{{ page }}">Page {{ page }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <i class="ri-arrow-drop-down-line"></i>
            </div>

            <li class="{{ 'disabled' if not data.has_next }}">
                <a aria-label="View next page" aria-disabled="{{ 'false' if data.has_prev else 'true' }}" href="{{ data.next_num | paginate_to_page }}" class="button">
                    <i class="ri-arrow-right-line"></i>
                </a>
            </li>
        </ul>
    {% endif %}
{% endmacro %}