{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import user_preview %}
{% from "partials/vote.html" import post_vote %}

{% macro posts(list, limit=999) %}
    <div class="posts">
        {% for post in list %}
            {% if loop.index < limit %}
                <article class="post-row">
                    <div class="post-votes post-votes-{{ post.id }}">
                        {{ post_vote('sm', post) }}
                    </div>
                    <div class="details ml-1-5">
                        <p>
                            <a href="{{ url_for('posts.show', post_id=post.url_slug) }}">
                                {{ post.title }}
                            </a>
                        </p>
                        <p class="small meta">
                            <span>
                                <span> update by </span>
                                {{ avatar(post.user, 'xx-sm') }}
                                {{ user_preview(post.user) }}
                                {% if post.tag %} in {{ post.tag.name }}{% endif %}
                                <span class="seperator d-none-small">•</span>
                            </span>
                            <span>
                                <span>{{ post.created_at | to_human_date }}</span>
                                <span class="seperator">•</span>
                                <span>{{ post.comments | length }} comments</span>
                            </span>
                        </p>
                    </div>
                </article>
            {% endif %}
        {% else %}
            {% include "partials/no_results.html" %}
        {% endfor %}
    </div>
{% endmacro %}