{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import user_preview, project_preview %}
{% from "partials/vote.html" import post_vote %}

{% macro posts(list, limit=999) %}
    <ul class="posts" role="list">
        {% for post in list %}
            {% if loop.index < limit %}
                <li class="post-row" role="listitem">
                    <div class="post-votes post-votes-{{ post.id }}">
                        {{ post_vote('sm', post) }}
                    </div>
                    <div class="details ml-1-5">
                        <p>
                            {% if post.poll %}
                                <i title="Poll" class="ri-bar-chart-horizontal-fill poll"></i>
                            {% endif %}
                            <a aria-label="View post" href="{{ url_for('posts.show', post_id=post.url_slug) }}">
                                {{ post.title }}
                            </a>
                        </p>
                        <p class="small meta">
                            <span>
                                {{ project_preview(post.project) }}
                                <span> update by </span>
                                {{ avatar(post.user, 'xx-sm') }}
                                {{ user_preview(post.user) }}
                                {% if post.tag %} in <a aria-label="View all posts with the {{ post.tag.name }} tag" href="{{ url_for('posts.tags', tag=post.tag.id) }}">{{ post.tag.name }}</a>{% endif %}
                                <span class="seperator d-none-small">•</span>
                            </span>
                            <span>
                                <span>{{ post.created_at | to_human_date }}</span>
                                <span class="seperator">•</span>
                                <span>{{ post.comments | length }} comments</span>
                            </span>
                        </p>
                    </div>
                </li>
            {% endif %}
        {% else %}
            {% include "partials/no_results.html" %}
        {% endfor %}
    </ul>
{% endmacro %}