{% from "partials/avatar.html" import avatar %}
{% from "partials/vote.html" import post_vote %}

{% macro posts(list) %}
    <div class="posts">
        {% for post in list %}
            <article class="post-row">
                <div class="post-votes">
                    {{ post_vote('sm', post) }}
                </div>
                <div class="details ml-1-5">
                    <p>
                        <a href="{{ url_for('posts.show', post_id=post.id) }}">
                            {{ post.title }}
                        </a>
                    </p>
                    <p class="small meta">
                        <span>
                            <span> update by </span>
                            {{ avatar(post.user, 'xx-sm') }}
                            <a href="{{ url_for('users.show', user_id=post.user.id) }}">
                                {{ post.user.first_name }} {{ post.user.last_name }}
                            </a>
                            <span class="seperator d-none-small">•</span>
                        </span>
                        <span>
                            <span>{{ post.created_at | to_human_date }}</span>
                            <span class="seperator">•</span>
                            <span>{{ post.comments | length }} comments</span>
                        </span>
                    </p>
                </div>
            </article>
        {% else %}
            {% include "partials/no_results.html" %}
        {% endfor %}
    </div>
{% endmacro %}