{% set icon = {'gold': '💸', 'silver': '💰', 'bronze': '💵', 'default': '✨'} %}

{% macro prize(item) %}
    {% if item.prize.value > 0 %}
        <button class="button prize {{ item.prize.badge }}" tabindex="-1">
            <span class="icon">{{ icon[item.prize.badge] }}</span>
            ${{ item.prize.value }}
        </button>
    {% endif %}
{% endmacro %}

{% macro expected_prize(item) %}
    {% if item.prize.value > 0 %}
        <button class="button prize expected {{ item.prize.badge }}" tabindex="-1">
            <span class="text">Expected prize:</span>
            <span class="icon">{{ icon[item.prize.badge] }}</span>
            ${{ item.prize.value }}
        </button>
    {% endif %}
{% endmacro %}