{% from "partials/avatar.html" import avatar %}
{% from "partials/editor.html" import editor_light %}
{% from "partials/previews.html" import user_preview %}

{% macro progress_modal(project, progress) %}
    <div id="update-task-modal-{{ progress.id }}" class="modal task-modal edit-task-modal">
        <div class="modal-body md">
            <header>
                <h3>Task</h3>
                <div class="options">
                    {% if project.has_member(g.user) %}
                        <button class="button edit-task">Edit</button>
                    {% endif %}
                    <i class="icon ri-close-line modal-close"></i>
                </div>
            </header>
            <main class="show-view">
                <div class="info">
                    <p><span>Task</span>{{ progress.name }}</p>
                    <p><span>Column</span>{{ progress.column }}</p>
                    <p>
                        <span>Assigned to</span>
                        {% if progress.user %}
                            {{ avatar(progress.user, 'xx-sm') }}{{ user_preview(progress.user) }}
                        {% else %}
                            Unassigned
                        {% endif %}
                    </p>
                    <p><span>Description</span></p>
                </div>
                <div class="post">
                    {{ progress.description | to_safe_html | safe }}
                </div>
            </main>
            <main class="edit-view d-none">
                <form class="form mt-2" action="{{ url_for('projects.update_progress', project_id=project.id, progress_id=progress.id) }}" method="post">
                    <fieldset>
                        <label class="label" for="name">Task Name</label>
                        <input class="input" type="text" placeholder="e.g. Publish new blog post" id="name" name="name" value="{{ progress.name }}">
                        <div class="split">
                            <div>
                                <label class="label" for="column">Column</label>
                                 <div class="select w-100">
                                     <select id="column" name="column">
                                         <option disabled selected value>Please select</option>
                                         {% for col in project.progress_settings.columns %}
                                             <option {{ 'selected' if col == progress.column }} value="{{ col }}">{{ col }}</option>
                                         {% endfor %}
                                     </select>
                                     <i class="icon ri-arrow-drop-down-line"></i>
                                </div>
                            </div>
                            <div>
                                <label class="label" for="user">User</label>
                                 <div class="select w-100">
                                     <select id="user" name="user">
                                         <option disabled value>Please select</option>
                                         <option {{ 'selected' if not progress.user }} value>Unassigned</option>
                                         {% for member in project.members %}
                                             <option {{ 'selected' if progress.user and progress.user.id == member.user.id }} value="{{ member.user.id }}">
                                                {{ member.user.first_name }} {{ member.user.last_name }}
                                            </option>
                                         {% endfor %}
                                     </select>
                                     <i class="icon ri-arrow-drop-down-line"></i>
                                </div>
                            </div>
                        </div>
                        <label class="label mt-0-5">Description</label>
                        {{ editor_light(progress.description) }}
                        <footer class="mt-3">
                            <div class="button-group">
                                <button class="button" type="submit">Update Task</button>
                                <button class="button secondary show-task" type="reset">Cancel</button>
                            </div>
                            <a href="{{ url_for('projects.delete_progress', project_id=project.id, progress_id=progress.id) }}" class="button tertiary">Delete Task</a>
                        </footer>
                    </fieldset>
                </form>
            </main>
        </div>
     </div>
{% endmacro %}