{% from "partials/avatar.html" import avatar %}
{% from "partials/vote.html" import project_vote %}

{% macro projects(list) %}
    <div class="results">
        {% for project in list %}
            <div class="project-card {{ 'extended' if display }}">
                <a href="{{ url_for('projects.show', project_id=project.id) }}">
                    <div class="title">
                        {{ avatar(project) }}
                        <h4 class="name">{{ project.name }}</h4>
                    </div>
                    <p class="small description">{{ project.description | to_plain_text }}</p>
                    <div class="meta">
                        <p><span>{{ project.members | length }}</span> members</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    {% if list | length == 0 %}
        {% include "partials/no_results.html" %}
    {% endif %}
{% endmacro %}