{% if g.user and g.user.member and not g.user.member.project.published %}
    <div id="publish-modal" class="modal">
        <div class="modal-body sm" role="dialog" aria-labelledby="project-publish-modal-header">
            <header>
                <h3 id="project-publish-modal-header">Publish your project</h3>
                <i class="icon ri-close-line modal-close" role="button" tabindex="0" aria-label="Close project publish modal"></i>
            </header>
            <main>
                <p class="mt-1 mb-2">To join the conversation you’ll need to publish your project 😊</p>

               <footer>
                   <a aria-label="View project edit page" class="button success" href="{{ url_for('projects.edit', project_id=g.user.member.project.id) }}">Publish Project</a>
                   <button aria-label="Cancel" class="button secondary modal-close" type="button">Cancel</button>
               </footer>
            </main>
        </div>
    </div>
{% endif %}