{% from "partials/avatar.html" import avatar %}

{% set user_project_path = url_for('projects.show', project_id=g.user.member.project.id) if g.user and g.user.member else '__none__' %}

<aside id="sidebar" class="sidebar">
    <div class="logo">
        <a aria-label="View home page" href="{{ url_for('home.index') }}">
            <img alt="HackerStash logo" src="/static/images/logo.svg">
        </a>
        <div class="actions">
            {% if g.user %}
                <a aria-label="View your notifications" data-count="{{ g.user.unread_notifications | length }}" class="notification-bell {{ 'unread' if g.user.unread_notifications }} {{ 'active' if request.path.startswith('/notifications') }}" href="{{ url_for('notifications.index') }}">
                    <i class="icon ri-notification-2-line"></i>
                </a>
            {% endif %}
            <i aria-label="Toggle menu" class="icon ri-menu-line hamburger"></i>
        </div>
    </div>
    <div class="meta">
        <div class="row">
            <p class="small mb-0">Time remaining</p>
            <p class="small mb-0">{{ g.time_remaining }}</p>
        </div>
    </div>
    <nav class="routes" role="navigation" aria-label="Main site links">
        <a aria-label="View the leaderboard" class="{{ 'active' if request.path.startswith('/leaderboard') }}" href="{{ url_for('leaderboard.index') }}">
            <i class="icon ri-trophy-line"></i>
            Leaderboard
        </a>
        <a aria-label="View all posts" class="{{ 'active' if request.path.startswith('/posts') }}" href="{{ url_for('posts.index') }}">
            <i class="icon ri-flashlight-line"></i>
            Posts
        </a>
        <a aria-label="View all projects" class="{{ 'active' if request.path.startswith('/projects') and not request.path.startswith(user_project_path) }}" href="{{ url_for('projects.index') }}">
            <i class="icon ri-profile-line"></i>
            Projects
        </a>
        <a aria-label="View HackerStash reviews" class="{{ 'active' if request.path.startswith('/reviews') }}" href="{{ url_for('reviews.index') }}">
            <i class="icon ri-microscope-line"></i>
            Reviews
        </a>
        <a aria-label="View the rules" class="{{ 'active' if request.path.startswith('/rules') }}" href="{{ url_for('rules.index') }}">
            <i class="icon ri-lightbulb-line"></i>
            Rules
        </a>
        <a aria-label="View past results" class="{{ 'active' if request.path.startswith('/past_results') }}" href="{{ url_for('past_results.index') }}">
            <i class="icon ri-history-line"></i>
            Past Results
        </a>
    </nav>
    <hr class="divider">
    <div class="user-actions">
        {% if g.user %}
            <a aria-label="View your profile" class="user {{ 'active' if request.path.startswith('/users') }}" href="{{ url_for('users.show', user_id=g.user.id) }}">
                {{ avatar(g.user, 'x-sm') }}
                <p>{{ g.user.first_name }} {{ g.user.last_name }}</p>
            </a>

            {% if g.user.member %}
                <a aria-label="View the {{ g.user.member.project.name }} project" class="project {{ 'active' if request.path.startswith(user_project_path) }}" href="{{ user_project_path }}">
                    {{ avatar(g.user.member.project, 'x-sm') }}
                    <p class="split">
                        <span class="truncate">{{ g.user.member.project.name }}</span>
                        <span>{{ g.user.member.project.vote_score }}</span>
                    </p>
                </a>

                <a aria-label="View your challenges" class="challenges {{ 'active' if request.path.startswith('/challenges') }}" href="{{ url_for('challenges.index') }}">
                    <i class="icon ri-medal-2-line"></i>
                    <p class="split">
                        <span>Challenges</span>
                        <span>{{ g.user.member.project.number_of_completed_challenges }}/8</span>
                    </p>
                </a>
            {% endif %}
        {% else %}
            <a aria-label="View the sign up page" class="button" href="{{ url_for('auth.signup') }}">Sign Up</a>
            <a aria-label="View the log in page" class="button secondary" href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </div>
</aside>
