{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import project_preview %}

{% macro user_project_card(user) %}
    {% set is_self = user.id == (g.user and g.user.id) %}

    {% if is_self %}
        {% if user.member and not user.member.project.published %}
            <section class="project-card">
                <div class="row">
                     <aside>
                         <i>⏳</i>
                     </aside>
                    <div>
                        <h3>{{ user.member.project.name }} <p>UNPUBLISHED</p></h3>
                        <p>Publish your project to start participating in the HackerStash tournament.</p>
                        <div class="button-group">
                            <button aria-label="Open project publish modal" class="button success modal-open" data-modal="publish-modal">
                                Publish Project
                            </button>
                            <a aria-label="View the edit project page" class="button secondary arrow" href="{{ url_for('projects.show', project_id=user.member.project.id) }}">
                                Edit project
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        {% elif not user.member %}
            <section class="project-card">
                <div class="row">
                    <aside>
                        <i>✨</i>
                    </aside>
                    <div>
                        <h3>Add project</h3>
                        <p>To start participating in the HackerStash tournament, you’ll need to publish a project or be invited to join an <a href="{{ url_for('projects.index') }}">existing</a> one.</p>
                        <div class="button-group">
                            <a aria-label="Create a project" class="button" href="{{ url_for('projects.create') }}">Add project</a>
                            <a aria-label="View the tournament rules" class="button secondary" href="{{ url_for('rules.index') }}">Tournament rules</a>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

    {% if user.member and user.member.project.published %}
        <section class="project-card">
            <div class="row">
                <aside>
                    {{ avatar(user.member.project, 'md') }}
                </aside>
                <div>
                    <h3>
                        {{ project_preview(user.member.project) }}
                    </h3>
                    <p class="rich-text">{{ user.member.project.description | to_safe_html | safe }}</p>
                    <div class="details">
                        <p><span>{{ user.member.project.members | length }}</span> Team members</p>
                        <p><i class="icon ri-focus-2-line"></i>Points: {{ user.member.project.vote_score }}</p>
                        {% if user.member.project.has_member(g.user) %}
                            <p>🦄 Stash: ${{ user.member.project.stash or 0 }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endmacro %}