{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import project_preview %}

{% macro user_project_card(user) %}
    <section class="project-card">
        {% if not user.member %}
            <div class="row">
                <aside>
                    <i>✨</i>
                </aside>
                <div>
                    <h3>Add project</h3>
                    <p>To start participating in the HackerStash tournament, you’ll need to publish a project or be invited to join an <a href="{{ url_for('projects.index') }}">existing</a> one.</p>
                    <div class="button-group">
                        <a class="button" href="{{ url_for('projects.create') }}">Add project</a>
                        <a class="button secondary" href="{{ url_for('rules.index') }}">Tournament rules</a>
                    </div>
                </div>
            </div>
        {% else %}
            {% if user.member.project.published %}
                <div class="row">
                    <aside>
                        {{ avatar(user.member.project, 'md') }}
                    </aside>
                    <div>
                        <h3>
                            {{ project_preview(user.member.project) }}
                        </h3>
                        <p>{{ user.member.project.description | to_safe_html | safe }}</p>
                        <div class="details">
                            <p><span>{{ user.member.project.members | length }}</span> Team members</p>
                            <p><i class="icon ri-focus-2-line"></i>Points: {{ user.member.project.vote_score }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                     <aside>
                         <i>⏳</i>
                     </aside>
                    <div>
                        <h3>{{ user.member.project.name }} <p>UNPUBLISHED</p></h3>
                        <p>Publish your project to start participating in the HackerStash tournament.</p>
                        <div class="button-group">
                            <a class="button arrow" href="{{ url_for('projects.show', project_id=user.member.project.id) }}">
                                Edit project
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </section>
{% endmacro %}