{% macro project_vote(size, project) %}
    <div class="votes">
        <div class="vote {{ size }} {{ project.vote_status(g.user) or '' }}">
            {% if g.user %}
                <a href="{{ url_for('projects.vote_project', project_id=project.id, direction='up', size=size) }}" data-parent="project-votes-{{ project.id }}" rel="nofollow" class="button vote-button upvote">+10</a>
            {% else %}
                <button class="button vote-button upvote">+10</button>
            {% endif %}
            <p>{{ project.vote_score }} <span> points</span></p>
            {% if g.user %}
                <a href="{{ url_for('projects.vote_project', project_id=project.id, direction='down', size=size) }}" data-parent="project-votes-{{ project.id }}" rel="nofollow" class="button vote-button downvote">-10</a>
            {% else %}
                <button class="button vote-button downvote">-10</button>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro post_vote(size, post) %}
    <div class="votes">
        <div class="vote {{ size }} {{ post.vote_status(g.user) or '' }}">
            {% if g.user %}
                <a href="{{ url_for('posts.post_vote', post_id=post.id, direction='up', size=size) }}" data-parent="post-votes-{{ post.id }}" rel="nofollow" class="button vote-button upvote">+5</a>
            {% else %}
                <button class="button vote-button upvote">+5</button>
            {% endif %}
            <p>{{ post.vote_score }} <span> points</span></p>
            {% if g.user %}
                <a href="{{ url_for('posts.post_vote', post_id=post.id, direction='down', size=size) }}" data-parent="post-votes-{{ post.id }}" rel="nofollow" class="button vote-button downvote">-5</a>
            {% else %}
                <button class="button vote-button downvote">-5</button>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro comment_vote(size, comment) %}
    <div class="votes">
        <div class="vote {{ size }} {{ comment.vote_status(g.user) or '' }}">
            {% if g.user %}
                <a href="{{ url_for('posts.comment_vote', post_id=comment.post_id, comment_id=comment.id, direction='up') }}" data-parent="comments" rel="nofollow" class="button vote-button upvote">
                    <i class="ri-arrow-drop-up-line"></i>
                </a>
            {% else %}
                <button class="button vote-button upvote"><i class="ri-arrow-drop-up-line"></i></button>
            {% endif %}
            <p>{{ comment.vote_score }} <span> points</span></p>
            {% if g.user %}
                <a href="{{ url_for('posts.comment_vote', post_id=comment.post_id, comment_id=comment.id, direction='down') }}" data-parent="comments" rel="nofollow" class="button vote-button downvote">
                    <i class="ri-arrow-drop-down-line"></i>
                </a>
            {% else %}
                <button class="button vote-button downvote"><i class="ri-arrow-drop-down-line"></i></button>
            {% endif %}
        </div>
    </div>
{% endmacro %}