{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import project_preview %}

{% macro votes(list) %}
    <ul class="votes-list">
        {% for vote in list %}
            {% set positive = vote.score > 0 %}
            <li>
                <p class="small date">• {{ vote.created_at | to_nice_date }}</p>
                <div class="vote-message">
                    <span class="score {{ 'positive' if positive else 'negative' }}">
                        <i class="icon ri-arrow-drop-{{ 'up' if positive else 'down' }}-fill"></i>
                        {{ vote.score }}
                    </span>
                    <span class="project-message">
                        {% if vote.type == 'project' %}
                            {% set project = vote.project %}
                            for the project
                            {{ avatar(project, 'xx-sm') }}
                            {{ project_preview(project) }}
                        {% elif vote.type == 'post' %}
                            {% set post = vote.post %}
                            for the post
                            <a href="{{ url_for('posts.show', post_id=post.id) }}">{{ post.title }}</a>
                        {% elif vote.type == 'comment' %}
                            {% set comment = vote.comment %}
                            for a
                            <a href="{{ url_for('posts.show', post_id=comment.post.id) }}#{{ comment.id }}">comment</a>
                            on the post
                            <a href="{{ url_for('posts.show', post_id=comment.post.id) }}">{{ comment.post.title }}</a>
                        {% endif %}
                    </span>
                </div>
            </li>
        {% else %}
            {% include "partials/no_results.html" %}
        {% endfor %}
    </ul>
{% endmacro %}