.page.admin.dashboard {
  .users {
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      border-bottom: 1px solid $darkblue-900;
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 1rem 0;

      p {
        margin: .25rem 0 0 0;
      }

      a {
        color: $mauve-500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .create-admin-form {
    fieldset {
      display: flex;
      flex-wrap: wrap;

      .col {
        margin-right: 1rem;
        width: calc(25% - 1rem);
      }
    }
  }

  .waitlist-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .waitlist-list {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid $darkblue-900;
      list-style: none;
      padding: .5rem 0;

      p {
        margin-bottom: 0;
      }
    }
  }
}