.page.admin.dashboard {
  .users {
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      border-bottom: 1px solid $darkblue-900;
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 1rem 0;

      p {
        margin: .25rem 0 0 0;
      }

      .details {
        align-items: center;
        display: flex;
      }

      a {
        color: $mauve-500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .create-admin-form {
    fieldset {
      display: flex;
      flex-wrap: wrap;

      .col {
        margin-right: 1rem;
        width: calc(25% - 1rem);
      }
    }
  }

  .tournaments {
    .winner {
      display: inline-flex;
    }
  }

  .projects-table {
    .modal-open span {
      color: $blue-500;
      text-decoration: underline;
    }
  }

  .members-modal {
    ul {
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        border-bottom: 1px solid $darkblue-900;
        display: flex;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        a {
          color: $mauve-500;
          text-decoration: none;
        }

        &:last-of-type {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .split {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

    .left {
      flex: 1;
      margin-right: 2rem;

      .card {
        background: $darkblue-900;
        border-radius: 1rem;
        margin: 1.5rem 0 2.5rem 0;
        padding: 1.5rem;

        .divider {
          background: $darkblue-600;
          margin-bottom: 1rem;
        }

        p {
          display: flex;
          justify-content: space-between;

          span {
           width: 50%;

            &:first-of-type {
              font-weight: $font-weight-bold;
            }
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        &:nth-of-type(2) {
          p {
            span {
              &:nth-of-type(1) {
                width: 75%;
              }

              &:nth-of-type(2) {
                width: 25%;
              }
            }
          }
        }
      }
    }

    .right {
      flex: 1;

      .title {
        border-bottom: 1px solid $darkblue-900;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        .total {
          align-items: center;
          display: flex;
        }

        .input {
          margin: 0 0 0 1rem;
          width: 6.75rem;
        }
      }

      .rank-header {
        border-bottom: 1px solid $darkblue-900;
        display: flex;
        padding: 0 .5rem;

        p {
          color: $mauve-900;
          font-size: 14px;
          font-weight: $font-weight-bold;
          margin: 1rem;
          text-transform: uppercase;

          &:nth-of-type(2) {
            flex: 1;
            margin-left: 3rem;
          }

          &:nth-of-type(3) {
            width: 6.75rem;
          }
        }

        &.current {
          p {
            &:nth-of-type(1) {
              flex: 1;
            }

            &:nth-of-type(2) {
              display: none;
            }
          }
        }
      }

      #prize-total {
        pointer-events: none;
      }

      .rank-body {
        .row {
          align-items: center;
          border-bottom: 1px solid $darkblue-900;
          display: flex;
          padding: 1.5rem;

          &:last-of-type {
            border-bottom: 0;
          }

          p {
            &:nth-of-type(2) {
              flex: 1;
              margin: 0 0 0 3rem;
            }
          }

          .prize-value {
            .input, p {
              margin: 0;
              width: 6.75rem;
            }
          }
        }

        &.current {
          p {
            &:nth-of-type(1) {
              flex: 1;
            }

            &:nth-of-type(2) {
              display: none;
            }
          }
        }
      }
    }
  }
}