.page.admin.login {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;

  .login-form {
    background: $darkblue-900;
    border-radius: .5rem;
    max-width: 540px;
    padding: 1.5rem;
  }
}