{% extends 'layouts/app.html' %}
{% set title = 'HackerStash / Reviews' %}

{% from "partials/avatar.html" import avatar %}
{% from "partials/previews.html" import project_preview, user_preview %}

{% block body %}
    <div class="page reviews">
        <header class="header">
            <h2 role="heading">Reviews</h2>
        </header>

        <ul class="reviews" role="list">
            {% for review in reviews %}
                <li role="listitem">
                    <div class="thumbnail">
                        {% if review.thumbnail %}
                            <a href="{{ review.url }}" target="_blank" rel="nofollow noreferrer" style="background-image: url('https://images.hackerstash.com/thumbnails/{{ review.thumbnail }}');"></a>
                        {% endif %}
                    </div>
                    <div class="details">
                        <p class="title"><a href="{{ review.url }}" target="_blank" rel="nofollow noreferrer">{{ review.title }}</a></p>
                        <p class="small meta">
                            {{ project_preview(review.project) }}
                            <span> review by </span>
                            {{ avatar(review.user, 'xx-sm') }}
                            {{ user_preview(review.user) }}
                            <span class="seperator">•</span>
                            <span>{{ review.created_at | to_human_date }}</span>
                        </p>
                    </div>
                </li>
            {% else %}
                {% include "partials/no_results.html" %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}