{% extends 'base_app.html' %}
{% set title = 'HackerStash / Edit Team Member' %}

{% block body %}
    <div class="page rules">
        <header class="header">
            <h2>Edit Team Member</h2>
            <a class="button secondary has-icon" href="{{ url_for('projects.edit', project_id=project.id, tab='2') }}">
                <i class="ri-arrow-left-line"></i>
                Back
            </a>
        </header>

        {% include "partials/messages.html" %}

        <form class="form mt-4" action="{{ url_for('projects.update_member', project_id=project.id, member_id=member.id) }}" method="post">
            <fieldset>
                <div class="wrap-300 mb-1">
                    <label class="label">Name</label>
                    <p class="mb-2">{{ member.user.first_name }} {{ member.user.last_name }}</p>

                    <label class="label" >Email address</label>
                    <p class="mb-2">{{ member.user.email }}</p>

                    <label class="label" for="role">Role</label>
                    <input class="input" type="text" id="role" name="role" placeholder="e.g. Cofounder" required value="{{ member.role or '' }}">
                </div>

                <div class="button-group">
                    <button type="submit" class="button">Save changes</button>
                    <a class="button secondary" href="{{ url_for('projects.edit', project_id=project.id, tab='2') }}">Cancel</a>
                </div>
            </fieldset>
        </form>

        <hr class="divider mt-3 mb-3">

        {% if request.args.delete == '1' %}
            {% if member.user.id == g.user.id %}
                <p>Are you sure you wish to remove yourself from the {{ project.name }} team?</p>
                <p>Once removed your user account will still be active but no longer associated with this project. Your historical posts will still be be attributed to you, and any points they are awarded will still be applicable to the HackerStash project.</p>
            {% else %}
                <p>Are you sure you wish to remove {{ member.user.first_name }} from your team?</p>
                <p>Once removed the user account will still be active but no longer associated with your project. Any remaining points they have not used for voting will be redistributed between remaining Codefree team members. Historical posts by this team member will still be attributed to them, but any points they are awarded will still be applicable to your project.</p>
            {% endif %}
            <div class="button-group mt-3">
                <a href="{{ url_for('projects.delete_member', project_id=project.id, member_id=member.id) }}" class="button tertiary">
                    {{ "Yes, I'm leaving" if member.user.id == g.user.id else 'Yes, remove user'  }}
                </a>
                <a class="button secondary" href="?">Cancel</a>
            </div>
        {% else %}
            <div class="button-group">
                <a href="?delete=1" class="button tertiary">{{ 'Leave project' if member.user.id == g.user.id else 'Delete team member' }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}