{% extends 'base_app.html' %}
{% set title = 'HackerStash / User Following' %}

{% block body %}
    <div class="page user follow">
        <header class="header">
            <h2>People {{ user.first_name }} is following</h2>
            <a href="{{ url_for('users.show', user_id=user.id) }}" class="button secondary">Back</a>
        </header>

        <ul class="follow-list mt-3">
            {% for user in user.following %}
                <li>
                    TODO
                </li>
            {% else %}
                {% include "partials/no_results.html" %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}