{% extends 'base_app.html' %}
{% set title = 'HackerStash / User Following' %}

{% from "partials/follows.html" import follows %}

{% block body %}
    <div class="page user follow">
        <header class="header">
            <h2>People {{ user.first_name }} is following</h2>
            <a href="{{ url_for('users.show', user_id=user.id) }}" class="button secondary has-icon">
                <i class="ri-arrow-left-line"></i>
                Back
            </a>
        </header>

        {{ follows(user.following) }}
    </div>
{% endblock %}