{% extends 'layouts/app.html' %}
{% set title = 'HackerStash / Leaderboard' %}

{% from "partials/pagination.html" import pagination %}
{% from "partials/previews.html" import project_preview %}
{% from "partials/vote.html" import project_vote %}

{% set first_page = request.args.get('page', '1') == '1' %}

{% block body %}
    <div class="page leaderboard">
        <header class="header mb-0">
            <h2 role="heading">Leaderboard</h2>
            <span class="tag">Time remaining: <span>{{ remaining_days or 'Unknown' }}</span></span>
        </header>

        <div class="table {{ 'first-page' if first_page }}">
            <div class="table-header">
                <p class="col-1">Rank</p>
                <p class="col-3">Project name</p>
                <p class="col-3">Url</p>
                <p class="col-2">Score</p>
                <p class="col-3 prize">Prize</p>
            </div>
            <ul class="table-body" role="list">
                {% for project in paginated_projects.items %}
                    <li role="listitem">
                        <p class="col-1 position">
                            <span>{{ project.position }}</span>
                        </p>
                        <p class="col-3 project">
                            {{ project_preview(project) }}
                        </p>
                        <p class="col-3 small">
                            {% if project.url %}
                                <a href="{{ project.url if project.url.startswith('http') else '//' + project.url }}" target="_blank" rel="nofollow noreferrer" aria-label="Visit the {{ project.name }} website">
                                    {{ project.url | to_nice_url }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </p>
                        <p class="col-2 small score">
                            <i>{{ project.vote_score }} points</i>
                        </p>
                        <p class="col-3 prize">

                        </p>
                    </li>
                {% else %}
                    {% include "partials/no_results.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>

    {{ pagination(paginated_projects) }}
{% endblock %}