{% extends 'base_app.html' %}
{% set title = 'HackerStash / Leaderboard' %}

{% from "partials/prize.html" import prize %}
{% from "partials/previews.html" import project_preview %}
{% from "partials/vote.html" import project_vote %}

{% block body %}
    <div class="page leaderboard">
        <header class="header mb-0">
            <h2>Leaderboard</h2>
        </header>

        <div class="table">
            <div class="table-header">
                <p class="col-1">Rank</p>
                <p class="col-4">Project name</p>
                <p class="col-3">Url</p>
                <p class="col-2">Score</p>
                <p class="col-2">Expected prize</p>
            </div>
            <ul class="table-body">
                {% for project in projects %}
                    <li>
                        <p class="col-1 position">
                            <span>{{ project.position }}</span>
                        </p>
                        <p class="col-4 project">
                            {{ project_preview(project) }}
                        </p>
                        <p class="col-3 small">
                            {% if project.url %}
                                <a href="{{ project.url if project.url.startswith('http') else '//' + project.url }}" target="_blank" rel="nofollow noreferrer">
                                    {{ project.url | to_nice_url }}
                                </a>
                            {% endif %}
                        </p>
                        <p class="col-2 small score">
                            <i>{{ project.vote_score }} points</i>
                        </p>
                        <p class="col-2">
                            {{ prize(project) }}
                        </p>
                    </li>
                {% else %}
                    {% include "partials/no_results.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>

    {% include "partials/pagination.html" %}
{% endblock %}