{% extends 'base_app.html' %}
{% set title = 'HackerStash / Stash' %}

{% block body %}
    <div class="page stash">
        <header class="header">
            <h2>{{ project.name }}'s Stash</h2>
        </header>

        {% include "partials/messages.html" %}

        <div class="split">
            <div class="left">
                <div class="stash-box">
                    <p>Stash 💸</p>
                    <h1>${{ project.stash or 0 }}</h1>
                    <button class="button modal-open" data-modal="stash-modal">Cash out</button>
                </div>
            </div>
            <div class="right">
                <p class="mb-2">Your stash is a wallet for your project’s tournament winnings. Each time you win a prize it will be added to your stash and it’s available to cash out at any time.</p>
                <label class="label">💡 Tips</label>
                <ul>
                    <li>Think of a purchase that would best help drive your project forward and make that your cash out goal - it will keep motivated and focused on building a stash that you’ll spend wisely.</li>
                    <li>If you’ve won a prize, make sure you thank your fellow community members! They wanted you to win, and will love hearing how you plan to use your winnings to support your business.</li>
                    <li>Winning prizes is a great perk, but it won’t happen every week. The HackerStash community survives and thrives by putting people first, prizes second.</li>
                </ul>
            </div>
        </div>

        <h3 class="mt-2 mb-2 prize-heading">Prize & Cash Out History</h3>

        <div class="table">
            <div class="table-header">
                <p class="col-4">Transaction Type</p>
                <p class="col-3">Date</p>
                <p class="col-3">Tournament ID</p>
                <p class="col-2">Value</p>
            </div>
            <ul class="table-body">
                {% for transaction in project.transactions %}
                    <li>
                        <p class="col-4">
                            <span class="tag {{ transaction.type }}">
                                {{ 'Prize' if transaction.type == 'prize' else 'Cash out' }}
                            </span>
                        </p>
                        <p class="col-3 small">{{ transaction.created_at | to_contest_date }}</p>
                        <p class="col-3 tournament-name">{{ transaction.tournament_name }}</p>
                        <p class="col-2 value">${{ transaction.value }}</p>
                    </li>
                {% else %}
                    <li class="mt-4 no-transactions">
                        {% include "partials/no_results.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="stash-modal" class="modal">
        <div class="modal-body md">
            <header>
                <h3>Cash Out Request</h3>
                <i class="icon ri-close-line modal-close"></i>
            </header>
            <main>
                <form class="form" method="post" action="{{ url_for('stash.index') }}">
                    <fieldset>
                        <div class="wrap">
                            <p>You can cash out your Stash once you’ve completed one full Billing Cycle (1 month) as a user of HackerStash.</p>
                            <p>Please complete the form below to submit your cash out request 😍</p>

                            <label class="label mt-2" for="value">How much would you like to cash out?</label>
                            <div class="value">
                                $ <input class="input" name="value" id="value"> of ${{ project.stash or 0 }}
                            </div>

                            <label class="label mt-1-5" for="message">Message <span>(optional)</span></label>
                            <textarea class="input textarea" rows="4" name="message" id="message" placeholder="e.g. Hey!"></textarea>
                        </div>
                        <footer class="mt-3">
                            <button class="button" type="submit">Send request</button>
                            <button class="button secondary modal-close" type="button">Cancel</button>
                        </footer>
                    </fieldset>
                </form>
            </main>
        </div>
     </div>
{% endblock %}