{% extends 'base_app.html' %}
{% set title = 'HackerStash / Edit Project' %}

{% from "partials/avatar.html" import avatar_upload %}

{% set active_tab = request.args.get('tab') or '1' %}

{% block body %}
    <div class="page edit-project">
        <header class="header">
            <h2>Projects</h2>
        </header>

        <div class="tabs">
            <div class="tab-header">
                <a href="?tab=1" class="button {{ 'active' if active_tab == '1' }}">Project details</a>
                <a href="?tab=2" class="button {{ 'active' if active_tab == '2' }}">Team</a>
                <a href="?tab=3" class="button {{ 'active' if active_tab == '3' }}">Subscription</a>
            </div>

            <div class="tab-body">
                <div class="tab {{ 'active' if active_tab == '1' }}">
                    <form class="form" action="{{ url_for('projects.update', project_id=project.id) }}">
                        <fieldset>
                            <section class="wrap-620 mt-2">
                                <h3>Summary</h3>
                                {{ avatar_upload() }}
                            </section>
                        </fieldset>
                    </form>
                </div>

                <div class="tab {{ 'active' if active_tab == '2' }}">

                </div>

                <div class="tab {{ 'active' if active_tab == '3' }}">

                </div>
            </div>
        </div>
    </div>
{% endblock %}