{% extends 'base_app.html' %}
{% set title = 'HackerStash / Projects' %}

{% from "partials/projects.html" import projects %}

{% block body %}
    <div class="page projects">
        <header class="header">
            <h2>Projects</h2>

            <div class="filters">
                <label class="label">Sorting</label>
                <div class="select">
                    <select id="sorting" name="sorting">
                        <option value="alphabetical_asc">A-Z</option>
                        <option value="alphabetical_desc">Z-A</option>
                        <option value="rank_desc">Rank: High to Low</option>
                        <option value="rank_asc">Rank: Low to High</option>
                        <option value="created_at_desc">Recently created</option>
                        <option value="created_at_asc">Recently updated</option>
                        <option value="team_size_desc">Team size: High to Low</option>
                        <option value="team_size_asc">Team size: Low to High</option>
                    </select>
                    <i class="icon ri-arrow-drop-down-line"></i>
                </div>
                <button class="button secondary has-icon modal-open" data-modal="filter-modal">
                    <i class="icon ri-filter-2-line"></i>
                    Filters (0)
                </button>
                <button class="button secondary has-icon modal-open" data-modal="display-modal">
                    <i class="icon ri-eye-line"></i>
                    Display
                </button>
            </div>
        </header>

        {{ projects(filtered_projects, display) }}
    </div>

    <div id="filter-modal" class="modal">
        <div class="modal-body md">
            <header>
                <h3>Filters</h3>
                <i class="icon ri-close-line modal-close"></i>
            </header>
            <main>
                <form class="form" action="{{ url_for('projects.index') }}" method="get">
                    <fieldset>
                        <label class="label">Team size</label>
                        <ul class="checkbox-group inline">
                            <li>
                                <span class="checkbox">
                                    <input name="team_size" value="solo" type="checkbox" id="solo">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="solo">Solo project</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="team_size" value="team" type="checkbox" id="team">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="team">Multiple team members</label>
                            </li>
                        </ul>
                        <label class="label">Time commitment</label>
                        <ul class="checkbox-group inline">
                            <li>
                                <span class="checkbox">
                                    <input name="time_commitment" value="full_time" type="checkbox" id="full_time">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="full_time">Full time</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="time_commitment" value="part_time" type="checkbox" id="part_time">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="part_time">Side project</label>
                            </li>
                        </ul>
                        <label class="label" for="country">Country</label>
                        <div class="select wrap-300">
                            <select id="country" name="country">
                                <option>Please select</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas (the)</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="CV">Cabo Verde</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros (the)</option>
                                <option value="CD">Congo</option>
                                <option value="CG">Congo (the)</option>
                                <option value="CK">Cook Islands (the)</option>
                                <option value="CR">Costa Rica</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curaçao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czechia</option>
                                <option value="CI">Côte d'Ivoire</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="SZ">Eswatini</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia (the)</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island</option>
                                <option value="VA">Holy See (the)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea (the Democratic People's Republic of)</option>
                                <option value="KR">Korea (the Republic of)</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao People's Democratic Republic</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestine</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="MK">Republic of North Macedonia</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russia</option>
                                <option value="RW">Rwanda</option>
                                <option value="RE">Réunion</option>
                                <option value="BL">Saint Barthélemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin</option>
                                <option value="PM">Saint Pierre</option>
                                <option value="VC">Saint Vincent</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SX">Sint Maarten</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia</option>
                                <option value="SS">South Sudan</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan (the)</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan (Province of China)</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania, United Republic of</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates (the)</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States of America</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Viet Nam</option>
                                <option value="VG">Virgin Islands (British)</option>
                                <option value="VI">Virgin Islands (U.S.)</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                                <option value="AX">Åland Islands</option>
                            </select>
                            <i class="icon ri-arrow-drop-down-line"></i>
                        </div>
                        <label class="label">Platforms and devices</label>
                        <ul class="checkbox-group">
                            <li>
                                <span class="checkbox">
                                    <input name="platforms_and_devices" value="android" type="checkbox" id="android">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="android">Android</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="platforms_and_devices" value="browser_plugin" type="checkbox" id="browser_plugin">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="browser_plugin">Browser plugin</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="platforms_and_devices" value="desktop" type="checkbox" id="desktop">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="desktop">Desktop</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="platforms_and_devices" value="ios" type="checkbox" id="ios">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="ios">iOS</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="platforms_and_devices" value="mac" type="checkbox" id="mac">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="mac">Mac</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="platforms_and_devices" value="mobile" type="checkbox" id="mobile">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="mobile">Mobile</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="platforms_and_devices" value="pc" type="checkbox" id="pc">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="pc">PC</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="platforms_and_devices" value="web" type="checkbox" id="web">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="web">Web</label>
                            </li>
                        </ul>
                        <label class="label">Business model</label>
                        <ul class="checkbox-group">
                            <li>
                                <span class="checkbox">
                                    <input name="business_models" value="advertising" type="checkbox" id="advertising">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="advertising">Advertising</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="business_models" value="commission" type="checkbox" id="commission">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="commission">Commission</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="business_models" value="consulting" type="checkbox" id="consulting">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="consulting">Consulting</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="business_models" value="donations" type="checkbox" id="donations">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="donations">Donations</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="business_models" value="free" type="checkbox" id="free">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="free">Free</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="business_models" value="partnership" type="checkbox" id="partnership">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="partnership">Partnership</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="business_models" value="sales_and_transactions" type="checkbox" id="sales_and_transactions">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="sales_and_transactions">Sales &amp; Transactions</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="business_models" value="subscriptions" type="checkbox" id="subscriptions">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="subscriptions">Subscriptions</label>
                            </li>
                        </ul>
                        <label class="label">Funding</label>
                        <ul class="checkbox-group">
                            <li>
                                <span class="checkbox">
                                    <input name="fundings" value="accelerator" type="checkbox" id="accelerator">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="accelerator">Accelerator</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="fundings" value="bootstrapped" type="checkbox" id="bootstrapped">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="bootstrapped">Bootstrapped</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="fundings" value="crowd_funded" type="checkbox" id="crowd_funded">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="crowd_funded">Crowd-funded</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="fundings" value="donation_supported" type="checkbox" id="donation_supported">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="donation_supported">Donation-supported</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="fundings" value="hackerstash" type="checkbox" id="hackerstash">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="hackerstash">HackerStash prizes</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="fundings" value="self_funded" type="checkbox" id="self_funded">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="self_funded">Self funded</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="fundings" value="vc_funded" type="checkbox" id="vc_funded">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="vc_funded">VC funded</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="fundings" value="seed_funded" type="checkbox" id="seed_funded">
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="seed_funded">Seed funded</label>
                            </li>
                        </ul>
                        <footer>
                            <button class="button" type="submit">Apply filters</button>
                            <button class="button secondary" type="reset">Clear filters</button>
                        </footer>
                    </fieldset>
                </form>
            </main>
        </div>
    </div>

    <div id="display-modal" class="modal">
        <div class="modal-body md">
            <header>
                <h3>Display</h3>
                <i class="icon ri-close-line modal-close"></i>
            </header>
            <main>
                <form class="form" action="{{ url_for('projects.index') }}" method="get">
                    <fieldset>
                        <label class="label mt-2">Information on tiles</label>
                        <ul class="checkbox-group stacked mb-3">
                            <li>
                                <span class="checkbox">
                                    <input name="display" value="member_count" type="checkbox" id="display_member_count" {{ 'checked' if 'member_count' in display }}>
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="display_member_count">Team member count</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="display" value="time_commitment" type="checkbox" id="display_time_commitment" {{ 'checked' if 'time_commitment' in display }}>
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="display_time_commitment">Time commitment</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="display" value="location" type="checkbox" id="display_location" {{ 'checked' if 'location' in display }}>
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="display_location">Location</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="display" value="url" type="checkbox" id="display_url" {{ 'checked' if 'url' in display }}>
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="display_url">Website (URL)</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="display" value="platforms_and_devices" type="checkbox" id="display_platforms_and_devices" {{ 'checked' if 'platforms_and_devices' in display }}>
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="display_platforms_and_devices">Platforms and devices</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="display" value="business_models" type="checkbox" id="display_business_models" {{ 'checked' if 'business_models' in display }}>
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="display_business_models">Business model</label>
                            </li>
                            <li>
                                <span class="checkbox">
                                    <input name="display" value="fundings" type="checkbox" id="display_fudings" {{ 'checked' if 'fundings' in display }}>
                                    <span class="indicator"><i class="icon ri-check-line"></i></span>
                                </span>
                                <label class="label" for="display_fudings">Fundings</label>
                            </li>
                        </ul>

                        <footer>
                            <button class="button" type="submit">Apply changes</button>
                            <button class="button secondary modal-close" type="reset">Cancel</button>
                        </footer>
                    </fieldset>
                </form>
            </main>
        </div>
    </div>
{% endblock %}