{% extends 'base_app.html' %}
{% set title = 'HackerStash / Projects' %}

{% from "partials/projects.html" import projects %}
{% from "partials/pagination.html" import pagination %}

{% set selected_sorting = request.args.sorting or 'alphabetical_asc' %}

{% block body %}
    <div class="page projects">
        <header class="header">
            <h2 role="heading">Projects</h2>

            <div class="filters">
                <label class="label">Sorting</label>
                <div class="select">
                    <select aria-label="Change sorting of projects" id="sorting" name="sorting">
                        <option {{ 'selected' if selected_sorting == 'alphabetical_asc'  }} value="alphabetical_asc">A-Z</option>
                        <option {{ 'selected' if selected_sorting == 'alphabetical_desc'  }} value="alphabetical_desc">Z-A</option>
                        <option {{ 'selected' if selected_sorting == 'created_at_desc'  }} value="created_at_desc">Recently created</option>
                        <option {{ 'selected' if selected_sorting == 'updated_at_asc'  }} value="updated_at_asc">Recently updated</option>
                        <option {{ 'selected' if selected_sorting == 'team_size_desc'  }} value="team_size_desc">Team size: High to Low</option>
                        <option {{ 'selected' if selected_sorting == 'team_size_asc'  }} value="team_size_asc">Team size: Low to High</option>
                    </select>
                    <i class="icon ri-arrow-drop-down-line"></i>
                </div>
            </div>
        </header>

        {{ projects(paginated_projects.items) }}
        {{ pagination(paginated_projects) }}
    </div>
{% endblock %}