{% extends 'base_app.html' %}
{% set title = 'HackerStash / Projects / ' + project.name %}

{% from "partials/avatar.html" import avatar %}
{% from "partials/posts.html" import posts %}
{% from "partials/prize.html" import prize %}
{% from "partials/previews.html" import user_preview %}
{% from "partials/vote.html" import project_vote %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
{% endblock %}

{% block body %}
    <div class="page project">
        <header class="header">
            <div class="project-votes project-votes-{{ project.id }}">
                 {{ project_vote('lg', project) }}
            </div>
            <div class="details">
                <div class="project-details">
                    {{ avatar(project) }}
                    <h2>{{ project.name }}</h2>
                    <p class="d-none">@{{ project.name | lower }}</p>
                </div>
                <div class="mt-1 meta">
                    {% if project.start_month and project.start_year %}
                        <p><i class="icon ri-calendar-line"></i>Started {{ project.start_month | to_named_month }} {{ project.start_year }}</p>
                    {% endif %}
                    {% if project.location %}
                        <p><i class="icon ri-map-pin-2-fill"></i>{{ project.location }}</p>
                    {% endif %}
                    {% if project.url %}
                        <p>
                            <a target="blank" rel="nofollow noreferrer" href="{{ project.url if project.url.startswith('http') else '//' + project.url }}">
                                {{ project.url | to_nice_url }}
                            </a>
                        </p>
                    {% endif %}
                </div>
                <div class="mt-2 wrap-620">
                    <div class="post">
                        {{ project.description | to_safe_html | safe }}
                    </div>
                </div>
            </div>
            <div class="button-group">
                {% if project.has_member(g.user) %}
                    <a href="{{ url_for('projects.edit', project_id=project.id) }}" class="button secondary">Edit</a>
                {% endif %}
            </div>
        </header>
        <section class="stats">
            <div class="graph">
                <h3>Project Score <span>{{ project.vote_score }}</span></h3>
                <div class="graph-container">
                    <canvas id="project-graph" width="520" height="200"></canvas>
                </div>
            </div>
            <div class="project-position">
                <h3>Current Position</h3>
                <div class="positioning">
                    <h1 class="mt-1-5">{{ project.position }}<span>{{ project.position | to_ordinal_ending }}</span></h1>
                    {{ prize(project) }}
                </div>
                <h3 class="mt-2">Votes received</h3>
                <div class="votes-received up">
                    <i class="icon ri-arrow-up-line"></i>
                    <h3>{{ project.upvotes }} <span>upvotes</span></h3>
                </div>
                <div class="votes-received down">
                    <i class="icon ri-arrow-down-line"></i>
                    <h3>{{ project.downvotes }} <span>downvotes</span></h3>
                </div>
            </div>
        </section>
        {% if project.progress_settings.enabled %}
            <section class="progress has-kanban">
                <div class="title">
                    <h3>Work Board</h3>
                    {% if project.has_member(g.user) %}
                        <div class="button-group">
                            <a href="{{ url_for('projects.edit', project_id=project.id, tab=3) }}" class="button secondary d-none-small">Settings</a>
                            <button class="button modal-open" data-modal="add-task-modal">+ Add Task</button>
                        </div>
                    {% endif %}
                </div>

                <div class="columns">
                    <div class="scroll-container">
                        {% for column in project.progress_settings.columns %}
                            <div class="column" data-column="{{ column }}">
                                <label class="label mb-0">{{ column }}</label>
                                <div class="cards">
                                    {% for card in project.progress if card.column == column %}
                                        <div class="card modal-open {{ 'disabled' if not project.has_member(g.user) }}" data-project-id="{{ project.id }}" data-progress-id="{{ card.id }}" data-modal="update-task-modal-{{ card.id }}">
                                            <p class="name truncate">{{ card.name }}</p>
                                            <p class="small assignee">
                                                {{ avatar(card.user, 'xx-sm') }}
                                                {{ card.user.first_name or 'Unassigned' }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if project.has_member(g.user) %}
                                    <button class="button link modal-open" data-modal="add-task-modal">+ <span>Add Task</span></button>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        <section class="team-posts">
            <div class="team">
                <div class="title">
                    <h3>Team</h3>
                    {% if project.has_member(g.user) %}
                        <a class="button secondary" href="{{ url_for('projects.edit', project_id=project.id, tab='2') }}">Edit</a>
                    {% endif %}
                </div>
                <p class="mt-1-5">{% if project.members | length > 1 %}There are {{ project.members | length }} people{% else %}There is 1 person{% endif %} working on {{ project.name }} {{ 'full time' if project.time_commitment == 'FULL_TIME' else 'part time' }}.</p>
                <ul>
                    {% for member in project.members %}
                        <li>
                            {{ avatar(member.user, 'sm') }}
                            <p>
                                {{ user_preview(member.user) }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="posts">
                <div class="title">
                    <h3>Posts</h3>
                    {% if project.has_member(g.user) %}
                        <a class="button" href="{{ url_for('posts.new') }}">Add new</a>
                    {% endif %}
                </div>
                <div class="list">
                    {{ posts(project.posts, limit=5) }}

                    {% if project.posts | length > 5 %}
                        <a href="{{ url_for('projects.all_posts', project_id=project.id) }}" class="load-more">Load more</a>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="lists">
            <div class="grid">
                <div>
                    <h4>Platforms &amp; devices</h4>
                    <ul>
                        {% for p in project.platforms_and_devices or [] %}
                            <li>
                                <i class="icon ri-check-line"></i>
                                {{ p | platforms_and_devices }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h4>Business model</h4>
                    <ul>
                        {% for b in project.business_models or [] %}
                            <li>
                                <i class="icon ri-check-line"></i>
                                {{ b | business_models }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h4>Funding</h4>
                    <ul>
                        {% for f in project.fundings or [] %}
                            <li>
                                <i class="icon ri-check-line"></i>
                                {{ f | fundings }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>

     <div id="add-task-modal" class="modal">
        <div class="modal-body md">
            <header>
                <h3>Add Task</h3>
                <i class="icon ri-close-line modal-close"></i>
            </header>
            <main>
                <form class="form mt-2" action="{{ url_for('projects.create_progress', project_id=project.id) }}" method="post">
                    <fieldset>
                        <label class="label" for="name">Task Name</label>
                        <input class="input" type="text" placeholder="e.g. Publish new blog post" id="name" name="name">
                        <div class="split">
                            <div>
                                <label class="label" for="column">Column</label>
                                 <div class="select w-100">
                                     <select id="column" name="column">
                                         <option disabled selected value>Please select</option>
                                         {% for col in project.progress_settings.columns %}
                                             <option value="{{ col }}">{{ col }}</option>
                                         {% endfor %}
                                     </select>
                                     <i class="icon ri-arrow-drop-down-line"></i>
                                </div>
                            </div>
                            <div>
                                <label class="label" for="user">User</label>
                                 <div class="select w-100">
                                     <select id="user" name="user">
                                         <option disabled selected value>Please select</option>
                                         <option value>Unassigned</option>
                                         {% for member in project.members %}
                                             <option value="{{ member.user.id }}">{{ member.user.first_name }} {{ member.user.last_name }}</option>
                                         {% endfor %}
                                     </select>
                                     <i class="icon ri-arrow-drop-down-line"></i>
                                </div>
                            </div>
                        </div>
                        <label class="label" for="description">Description</label>
                        <textarea class="input textarea mb-3" rows="6" id="description" name="description"></textarea>
                        <footer>
                            <button class="button" type="submit">Create Task</button>
                            <button class="button secondary modal-close" type="reset">Cancel</button>
                        </footer>
                    </fieldset>
                </form>
            </main>
        </div>
     </div>

    {% for progress in project.progress if project.has_member(g.user) %}
        <div id="update-task-modal-{{ progress.id }}" class="modal">
            <div class="modal-body md">
                <header>
                    <h3>Edit Task</h3>
                    <i class="icon ri-close-line modal-close"></i>
                </header>
                <main>
                    <form class="form mt-2" action="{{ url_for('projects.update_progress', project_id=project.id, progress_id=progress.id) }}" method="post">
                        <fieldset>
                            <label class="label" for="name">Task Name</label>
                            <input class="input" type="text" placeholder="e.g. Publish new blog post" id="name" name="name" value="{{ progress.name }}">
                            <div class="split">
                                <div>
                                    <label class="label" for="column">Column</label>
                                     <div class="select w-100">
                                         <select id="column" name="column">
                                             <option disabled selected value>Please select</option>
                                             {% for col in project.progress_settings.columns %}
                                                 <option {{ 'selected' if col == progress.column }} value="{{ col }}">{{ col }}</option>
                                             {% endfor %}
                                         </select>
                                         <i class="icon ri-arrow-drop-down-line"></i>
                                    </div>
                                </div>
                                <div>
                                    <label class="label" for="user">User</label>
                                     <div class="select w-100">
                                         <select id="user" name="user">
                                             <option disabled value>Please select</option>
                                             <option {{ 'selected' if not progress.user }} value>Unassigned</option>
                                             {% for member in project.members %}
                                                 <option {{ 'selected' if progress.user and progress.user.id == member.user.id }} value="{{ member.user.id }}">
                                                    {{ member.user.first_name }} {{ member.user.last_name }}
                                                </option>
                                             {% endfor %}
                                         </select>
                                         <i class="icon ri-arrow-drop-down-line"></i>
                                    </div>
                                </div>
                            </div>
                            <label class="label" for="description">Descrip tion</label>
                            <textarea class="input textarea mb-3" rows="6" id="description" name="description">{{ progress.description }}</textarea>
                            <footer>
                                <button class="button" type="submit">Update Task</button>
                                <button class="button secondary modal-close" type="reset">Cancel</button>
                            </footer>
                        </fieldset>
                    </form>
                </main>
            </div>
         </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    {% if project.progress_settings.enabled %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/sortable.js"></script>
    {% endif %}
    <script type="text/javascript">
        window.projectScoreData = "{{ project.project_score_data }}";
    </script>
{% endblock %}