{% extends 'base_app.html' %}
{% set title = 'HackerStash / Progress' %}

{% from "partials/progress_cards.html" import progress_cards %}

{% block body %}
    <div class="page project-progress has-kanban">
        <header class="header">
            <h2>Progress</h2>
            <div class="button-group">
                <a href="{{ url_for('projects.show', project_id=project.id) }}" class="button secondary">Back</a>
                {% if project.has_member(g.user) %}
                    <button class="button modal-open" data-modal="new-progress-modal">+ New</button>
                {% endif %}
            </div>
        </header>

        <div class="kanban-header">
            <p>TODO</p>
            <p>IN PROGRESS</p>
            <p>QA</p>
            <p>DONE</p>
        </div>
        <div class="kanban-body">
            {{ progress_cards(project.progress, 'todo') }}
            {{ progress_cards(project.progress, 'in_progress') }}
            {{ progress_cards(project.progress, 'qa') }}
            {{ progress_cards(project.progress, 'done') }}
        </div>
    </div>

    <div id="new-progress-modal" class="modal">
        <div class="modal-body md">
            <header>
                <h3>Add ticket</h3>
                <i class="icon ri-close-line modal-close"></i>
            </header>
            <main>
                <form class="form" action="{{ url_for('projects.progress', project_id=project.id) }}" method="post">
                    <fieldset>
                        <label class="label" for="name">Name</label>
                        <input class="input mb-1-5" type="text" name="name" id="name" required>

                        <label class="assign" for="user">Assign</label>
                        <div class="select mb-1-5 w-100">
                            <select name="user" id="user" required>
                                {% for member in project.members %}
                                    <option value="{{ member.user.id }}">{{ member.user.first_name }} {{ member.user.last_name }}</option>
                                {% endfor %}
                            </select>
                            <i class="icon ri-arrow-drop-down-line"></i>
                        </div>

                        <label class="label" for="description">Description</label>
                        <textarea class="input textarea" name="description" id="description" rows="5" required></textarea>

                        <footer>
                            <button class="button" type="submit">Create</button>
                            <button class="button secondary modal-close" type="reset">Cancel</button>
                        </footer>
                    </fieldset>
                </form>
            </main>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/sortable.js"></script>
{% endblock %}