.page.project {
  .project-header {
    background-color: $blue-900;
    background-position: center center;
    background-size: cover;
    border-bottom: 4px solid $darkblue-900;
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .header {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 180px 0 2.5rem 0;
    padding-top: 5.5rem;
    position: relative;

    @include tablet-down {
      flex-direction: column;
      margin-top: 150px;
      padding-top: 0;
      position: relative;

      .button-group {
        margin-top: 1.5rem;
      }

      .project-votes {
        width: 100%;
      }
    }

    .project-avatar {
      background: $blue-900;
      border: 4px solid $darkblue-900;
      border-radius: 50%;
      height: 142px;
      left: 0;
      position: absolute;
      top: -86px;
      width: 142px;

      .avatar,
      .avatar img {
        height: 134px;
        width: 134px;
      }

      @include tablet-down {
        height: 80px;
        top: -94px;
        width: 80px;

        .avatar,
        .avatar img {
          height: 72px;
          width: 72px;
        }
      }
    }

    .view-website {
      i {
        color: $blue-500 !important;
        font-size: 1.5rem;
      }
    }

    .votes {
      margin: 0 2rem 1.5rem 0;

      @include tablet-down {
        margin-bottom: 1.5rem;
        width: 100%;
      }
    }

    .details {
      flex: 1;

      > div {
        display: flex;
      }

      .project-details {
        align-items: center;
        display: flex;

        p {
          align-self: flex-end;
          margin: 0 0 0.5rem 0.75rem;
        }

        .tag {
          border-radius: .5rem;
          color: $mauve-900;
          font-size: 16px;
          padding: .25rem .5rem;

          @include tablet-down {
            font-size: 14px;
          }

          span {
            color: $blue-500;
          }
        }
      }

      p {
        margin-bottom: 0;
      }

      .image {
        align-items: center;
        background: $darkblue-700;
        border-radius: 50%;
        display: flex;
        height: 2.5rem;
        justify-content: center;
        margin-right: 1rem;
        overflow: hidden;
        width: 2.5rem;

        img {
          height: 2.5rem;
          object-fit: cover;
          object-position: center;
        }

        p {
          color: $blue-500;
          font-weight: $font-weight-bold;
          margin: 0;
        }
      }

      .meta {
        p {
          align-items: center;
          display: flex;
          font-size: 14px;
          margin: 0 1rem 0 0;

          i, a {
            font-size: 14px;
            margin-right: .25rem;
          }
        }

        @include tablet-down {
          display: flex;
          flex-direction: column;

          p {
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  .split {
    display: flex;

    @include tablet-down {
      flex-direction: column;
    }

    .activity {
      margin: 0 2rem 0 0;

      @include tablet-down {
        margin-bottom: 2rem;
        min-height: 0;
        padding: 0;
      }

      .title {
        align-items: center;
        border-bottom: 1px solid $darkblue-900;
        display: flex;
        margin-bottom: 2.5rem;
        padding-bottom: 1.5rem;

        @include tablet-down {
          align-items: flex-start;
          flex-direction: column;
        }
      }

      .form {
        flex: 1;
        margin-left: 1rem;

        .checkbox-group {
          display: flex;

          @include tablet-down {
            flex-direction: row;
          }

          li {
            margin: 0 0 0 1rem;
            width: auto;
          }
        }

        @include tablet-down {
          margin: 1rem 0 0 0;

          li:first-of-type {
            margin-left: 0;
          }
        }
      }

      .feed {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
        }

        .load-more {
          text-align: center;
        }
      }
    }

    aside {
      width: 300px;

      .title {
        align-items: center;
        border-bottom: 1px solid $darkblue-900;
        display: flex;
        padding-bottom: 1.5rem;
      }

      .team {
        padding: 0;

        li {
          align-items: center;
          display: flex;
          list-style: none;
          margin-bottom: 1rem;

          .image {
            align-items: center;
            background: $darkblue-700;
            border-radius: 50%;
            display: flex;
            height: 2rem;
            justify-content: center;
            margin-right: 1rem;
            overflow: hidden;
            width: 2rem;

            img {
              height: 2rem;
              object-fit: cover;
              object-position: center;
            }

            p {
              font-weight: $font-weight-bold;
              margin: 0;
            }
          }

          p {
            margin: 0;

            a {
              color: $mauve-500;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .additional-info {
        ul {
          margin: 0;
          padding: 0;

          li {
            align-items: center;
            display: flex;
            list-style: none;
            margin-bottom: .5rem;

            i {
              font-size: 1rem;
              margin-right: .5rem;
            }
          }
        }
      }
    }
  }
}
